<footer id="bottom">
	<div class="wrapper">
		<nav>
			<a href="#">系统</a> &middot;
			<a href="#">渠道</a> &middot;
			<a href="#">微店</a> &middot;
			<a href="#">互动</a> &middot;
			<a href="#">订单</a> &middot;
			<a href="#">促销</a> &middot;
			<a href="#">游戏</a> &middot;
			<a href="#">统计</a> &middot;
			<a href="#">成员</a> &middot;
			<a href="#">日志</a> &middot;
			<a href="#">扩展</a>
		</nav>
		<p>Copyright &copy; 熔意网络科技 2014</p>
	</div>
</footer>
<!-- Admin template javascript load -->
<script type="text/javascript" src="/public/demo/js/administry.js"></script>