<ul class="serv1">
	<li>
		<a href="/service">服务中心</a>
		<ul class="serv2">
			<li class="serv2-1">
				<p>
				<a href="#">PDF资料</a>
				<a href="#">服务网点</a>
				<a href="#">指导培训</a>
				<a href="#">应急论坛</a>
				</p>
			</li>
		</ul>
	</li>
</ul>
<script type="text/javascript">
$(document).ready(function () {
	var time = null;
	$('.serv1 li:first').hover(function () {
		$('.serv2').fadeIn();
		clearTimeout(time);
	}, function () {
		time = setTimeout(function(){	
			$('.serv2').fadeOut();
		}, 50);
	});
});
</script>