<!-- CONTROL MENU -->
<h3>系统管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">全局配置</a></li>
	<li class="icn_new_article"><a href="/permission">权限地图</a></li>
	<li class="icn_new_article"><a href="/system/statistic">系统状态</a></li>
	<li class="icn_new_article"><a href="/log/system">系统日志</a></li>
</ul>
<h3>操作员管理</h3>
<ul class="toggle">
	<li class="icn_view_users"><a href="/user">操作员清单</a></li>
	<li class="icn_view_users"><a href="/role">角色清单</a></li>
	<li class="icn_new_article"><a href="/log/user">操作员日志</a></li>
</ul>
<hr/>
<h3>企业微信管理</h3>
<ul class="toggle">
	<li class="icn_categories"><a href="/enterprise">企业清单</a></li>
	<li class="icn_view_users"><a href="/enterprise/employee">企业管理员清单</a></li>
	<li class="icn_new_article"><a href="/log/enterprise">企业日志</a></li>
</ul>
<hr/>
<h3>熔意官网管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">基本配置</a></li>
	<li class="icn_categories"><a href="/category">栏目配置</a></li>
</ul>
<h3>熔意微官网管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">基本配置</a></li>
	<li class="icn_categories"><a href="/category">栏目配置</a></li>
</ul>
<hr/>
<h3>促销系统管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">基本配置</a></li>
	<li class="icn_new_article"><a href="#">发布模板</a></li>
	<li class="icn_edit_article"><a href="#">投票管理</a></li>
</ul>
<h3>投票/问卷系统管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">基本配置</a></li>
	<li class="icn_new_article"><a href="#">发布模板</a></li>
	<li class="icn_edit_article"><a href="#">投票管理</a></li>
</ul>
<hr/>







<!-- ENTERPRISE MENU -->
<h3>系统管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">全局配置</a></li>
	<li class="icn_new_article"><a href="/permission">权限地图</a></li>
	<li class="icn_new_article"><a href="/system/statistic">系统状态</a></li>
	<li class="icn_new_article"><a href="/log/system">系统日志</a></li>
</ul>
<h3>操作员管理</h3>
<ul class="toggle">
	<li class="icn_view_users"><a href="/enterprise/employee">管理员清单</a></li>
	<li class="icn_new_article"><a href="/log/user">操作员日志</a></li>
</ul>
<hr/>
<h3>微信管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/enterprise/config">微信配置</a></li>
	<li class="icn_edit_article"><a href="/enterprise/tenpay">微信支付配置</a></li>
	<li class="icn_categories"><a href="/enterprise/menu">自定义菜单配置</a></li>
</ul>
<h3>订单管理</h3>
<ul class="toggle">
	<li class="icn_categories"><a href="/enterprise/order">订单清单</a></li>
	<li class="icn_categories"><a href="/enterprise/order">订单查询</a></li>
	<li class="icn_categories"><a href="/enterprise/order">订单合并</a></li>
</ul>
<h3>配送管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/enterprise/config">配送配置</a></li>
	<li class="icn_categories"><a href="/fans">待配送订单</a></li>
</ul>
<h3>资金管理</h3>
<ul class="toggle">
	<li class="icn_categories"><a href="/fans">资金变动清单</a></li>
</ul>
<h3>商城管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/enterprise/config">商城配置</a></li>
	<li class="icn_categories"><a href="/enterprise/order">商品分类</a></li>
	<li class="icn_categories"><a href="/enterprise/order">扩展分类</a></li>
	<li class="icn_categories"><a href="/enterprise/order">商品清单</a></li>
	<li class="icn_categories"><a href="/enterprise/order">商品评论</a></li>
	<li class="icn_categories"><a href="/enterprise/order">商品自动上下架</a></li>
	<li class="icn_new_article"><a href="/enterprise/order">回收站</a></li>
</ul>
<h3>会员/关注者管理</h3>
<ul class="toggle">
	<li class="icn_view_users"><a href="/fans">关注者清单</a></li>
	<li class="icn_view_users"><a href="/fans">会员清单</a></li>
	<li class="icn_categories"><a href="/fans">会员充值提现</a></li>
</ul>
<hr/>
<h3>促销系统管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">基本配置</a></li>
	<li class="icn_new_article"><a href="#">发布模板</a></li>
	<li class="icn_edit_article"><a href="#">投票管理</a></li>
</ul>
<h3>投票/问卷系统管理</h3>
<ul class="toggle">
	<li class="icn_new_article"><a href="/config">基本配置</a></li>
	<li class="icn_new_article"><a href="#">发布模板</a></li>
	<li class="icn_edit_article"><a href="#">投票管理</a></li>
</ul>
<h3>内容管理</h3>
<ul class="toggle">
	<li class="icn_categories"><a href="/fans">栏目清单</a></li>
	<li class="icn_categories"><a href="/fans">文章清单</a></li>
</ul>
<h3>图片/媒体/素材管理</h3>
<ul class="toggle">
	<li class="icn_categories"><a href="/fans">素材清单</a></li>
	<li class="icn_video"><a href="/fans">上传素材</a></li>
</ul>
<h3>广告与幻灯管理</h3>
<ul class="toggle">
	<li class="icn_categories"><a href="/fans">广告位置清单</a></li>
	<li class="icn_categories"><a href="/fans">广告清单</a></li>
</ul>
<h3>模板/版式管理</h3>
<ul class="toggle">
	<li class="icn_categories"><a href="/fans">选择模板</a></li>
	<li class="icn_categories"><a href="/fans">更新模板</a></li>
</ul>