<include file="Public:html"/>
<meta charset="utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta id="viewport" name="viewport" content="width=device-width; initial-scale=0.5; maximum-scale=0.5; " />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>熔意®合作共赢</title>
<include file="Public:style"/>
</head>
<body>
<div class="wrap">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="fs2 color4">
<img src="/Public/images/wechat/w1.jpg" border="0" />
<p>你我携手，共赢未来！</p>
<p>创造最有市场穿透力的品牌，做客户生意上的最佳伙伴，我们一路携手同行！</p>
<p>我们能为您提供的具体支持包括：</p>
<ol class="srvs">

<li>品牌战略策划：
	<ul>
	<li>品牌定位</li>
	<li>商业模式策划</li>
	<li>产品线规划与包装</li>
	</ul>
</li>

<li>品牌形象建设与传播：
	<ul>
	<li>VI系统创意设计</li>
	<li>海报、画册等平面广告创意与设计</li>
	<li>网站策划与视觉创意</li>
	<li>终端空间形象策划与设计</li>
	<li>TVC广告策划与制作</li>
	<li>互联网平台品牌推广</li>
	</ul>
</li>

<li>经销渠道建设：
	<ul>
	<li>渠道招商</li>
	<li>经销团队专业培训</li>
	</ul>
</li>

<li>市场营销推广
	<ul>
	<li>节日营销活动策划与执行</li>
	<li>非节日主题营销活动策划与执行</li>
	</ul>
</li>

<li>电商建设运营
	<ul>
	<li>微信微电商店铺策划与运营</li>
	<li>天猫、京东等平台电商店铺策划与运营</li>
	<li>独立开发电商平台建设与运营</li>
	<li>电商团队建设培训</li>
	</ul>
</li>

<li>管理系统开发
	<ul>
	<li>办公自动化</li>
	<li>进销存管理系统开发与培训</li>
	<li>财务管理系统开发</li>
	<li>客户信息管理</li>
	<li>企业资源管理系统开发</li>
	</ul>
</li>

</ol>
	</td>
</tr>
<tr>
<td><include file="Public:phone"/></td>
</tr>
</table>
</div>
<script type="text/javascript">
try {
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideToolbar');
		WeixinJSBridge.call('hideOptionMenu');
	});
} catch(e) {};
</script>
</body>
</html>