<include file="Public:html"/>
<meta charset="utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta id="viewport" name="viewport" content="width=device-width; initial-scale=0.5; maximum-scale=0.5; " />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>熔意®品牌整合</title>
<include file="Public:style"/>
</head>
<body>
<div class="wrap">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="fs2 color4">
<img src="/public/images/wechat/w16.jpg" border="0" />
<p>基于<a href="/wechat/jinhualun">品牌进化论</a>，我们认为任何品牌都不是孤立存在的，而是处于一个特定的市场生态中。因此，品牌的运营除了考虑品牌自身的因素外，还应考虑市场环境、竞争对手、消费者需求、合作伙伴及潜在风险等多重因素，如何系统科学地分析这些因素，在最大限度内摒弃风险和利用资源，就是品牌整合的过程。</p>
<p>品牌整合的目的是通过系统地分析品牌所处的市场生态，清晰品牌自身的独特“基因”，洞察竞争对手的弱点与空白，来明确品牌定位，并通过对品牌拥有的资源的整合运用，在消费者心中塑造坚不可摧品牌信仰。</p>
<p><b>何谓品牌信仰？</b></p>
<p>我们见识了一大帮不知名的品牌在微信、天猫上大卖特卖，也见识了一些我们难以认同的选秀歌手演唱会场场爆满，我们不得不承认，在信息泛滥的大时代，随着的越来越具个性的70后、80后甚至90后年轻一代的崛起，品牌比拼知名度的时代已经过去，取而代之的是品牌给予的精神认同。最富认同价值的品牌，最具有吸引消费的能力。而当某个群体集体认同某个精神时，即成了一种信仰。所以我们认为，品牌整合的终极目标是向品牌的目标受众树立坚实的品牌信仰，并传递基于信仰的品牌体验。</p>
<p>如何紧紧环绕品牌信仰进行品牌体验的塑造？</p>
<p><b>视觉体验</b></p>
<p>视觉体验是品牌信仰的直观表达，包含多种形式，狭义上我们把视觉统统归为VI，但事实上视觉体验是一个系统工程，除了常规的视觉识别系统，还包括视频广告、产品形象、终端感官等多种形式。</p>
<p>视觉体验在很大程度上代表了品牌形象，其重要性不言而喻。但视觉体验不是一味地博取眼球，很多所谓的“营销大师”喜欢“出奇制胜”，往往追求一些只博眼球、不求表达的设计策划，结果往往适得其反。我们见过无数有意思的广告，却在会心一笑间记不起投放这个广告的是哪个品牌，也见过无数恶俗的广告，虽然颇觉无聊，却只看一眼就知道宣传的是哪个品牌。相比之下，优劣高低立分。</p>
<p>当然，高雅也好，恶俗也罢，品牌的视觉没有固定模式，关键还是得看品牌究竟想传达什么，以及传达的对象是谁。我们知道的是，化肥广告永远都高端不起来，而香奈儿的广告永远不会出现在小卖店的门头上。</p>
<p>所以，视觉体验应忠诚于品牌信仰，并基于目标消费者的偏好，同时还要兼顾行业特性、品类特点。</p>
<p><b>服务体验</b></p>
<p>品牌的服务体验是对产品体验的延伸，一般由售前服务、售中服务、售后服务三方面构成。现代市场中，售后服务通常被无限放大，而售前和售中服务却被忽视，这是一种本末倒置的现象。我们清楚的是，消费者是重视眼前利益的，而售后服务往往只是远期的承诺，远不如售前和售后来得“实在”。况且，消费者只会通过售前、售中的服务质量，来判断品牌的售后承诺是否可靠。因此，做好售前、售中服务，不仅是促进成交的利器，也是增加品牌信赖的砝码。</p>
<p>因此，服务体验应该是覆盖客户从接触品牌、购买品牌到使用品牌的全过程的。</p>
<p><b>产品体验</b></p>
<p>产品体验是品牌信仰的基础。产品有很多种，可以是实物，也可以是某种服务，甚至是某种思想，但无论哪种产品，其体验必然是对应购买者的生理、心理两重需求的。制造业的产品功能、使用方式，食品业的产品口感、色泽，唱片业的音乐制作、播放方式，都是产品体验的构成部分。</p>
<p><b>文化体验</b></p>
<p>品牌的文化体验是品牌信仰的核心构成部分，是品牌定位的直接表达。好的品牌文化体验可以凌驾于产品差异化之上，对竞争对手形成强力区隔。苹果和三星的手机在使用功能上无本质区别，双方各自有稳定的忠实消费群，但苹果手机售价可以普遍高于三星，这就是品牌文化的力量。</p>
	</td>
</tr>
<tr>
<td><include file="Public:phone"/></td>
</tr>
</table>
</div>
<script type="text/javascript">
try {
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideToolbar');
		WeixinJSBridge.call('hideOptionMenu');
	});
} catch(e) {};
</script>
</body>
</html>