<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>西闽科仪 管理系统控制台</title>
<link rel="stylesheet" href="/public/layout/css/layout.css" type="text/css" media="screen" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="/public/layout/css/ie.css" type="text/css" media="screen" />
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/frame" target="_parent">西闽科仪<sup>&reg;</sup></a></h1>
			<h2 class="section_title">管理系统控制台<sup>&copy;</sup> Admin Panel</h2><div class="btn_view_site"><a href="http://www.ximin.cn" target="_blank">官网</a></div>
		</hgroup>
	</header>
</body>
</html>