<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>熔意 Flicker Fusion 微信管理系统控制台</title>
<link rel="stylesheet" href="/public/layout/css/layout.css" type="text/css" media="screen" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="/public/layout/css/ie.css" type="text/css" media="screen" />
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/frame">熔意 Flicker Fusion&reg;</a></h1>
			<h2 class="section_title">微信管理系统控制台&copy; WechatAdmin Panel</h2><div class="btn_view_site"><a href="http://www.f-fusion.com">官网</a></div>
		</hgroup>
	</header>
</body>
</html>