<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>熔意 Flicker Fusion 微信管理系统控制台</title>
</head>
<frameset rows="55,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="/frame/head" name="head" scrolling="No" noresize="noresize" id="head" />
  <frameset cols="286,*" frameborder="yes" border="1" framespacing="1">
    <frame src="/frame/side" name="side" id="side" frameborder="yes" scrolling="auto" border="1"/>
    <frame src="/frame/content" name="content" id="content" frameborder="yes" scrolling="auto" border="1"/>
  </frameset>
</frameset>
<noframes><body>您的浏览器不支持框架布局，建议更换浏览器。
</body></noframes>
</html>