<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>熔意 Flicker Fusion 微信管理系统控制台</title>
<link rel="stylesheet" href="/public/layout/css/layout.css" type="text/css" media="screen" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="/public/layout/css/ie.css" type="text/css" media="screen" />
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="/public/layout/js/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/public/layout/js/hideshow.js" type="text/javascript"></script>
</head>
<body>
	<section id="secondary_bar">
		<div class="user">
			<p>John Doe (<a href="#">3 Messages</a>)</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
	
		<!-- CONTROL MENU -->
		<h3>系统管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">全局配置</a></li>
			<li class="icn_new_article"><a href="/permission" target="content">权限地图</a></li>
			<li class="icn_new_article"><a href="/system/statistic" target="content">系统状态</a></li>
			<li class="icn_new_article"><a href="/log/system" target="content">系统日志</a></li>
		</ul>
		<h3>操作员管理</h3>
		<ul class="toggle">
			<li class="icn_view_users"><a href="/user" target="content">操作员清单</a></li>
			<li class="icn_view_users"><a href="/role" target="content">角色清单</a></li>
			<li class="icn_new_article"><a href="/log/user" target="content">操作员日志</a></li>
		</ul>
		<hr/>
		<h3>企业微信管理</h3>
		<ul class="toggle">
			<li class="icn_categories"><a href="/enterprise" target="content">企业清单</a></li>
			<li class="icn_view_users"><a href="/enterprise/employee" target="content">企业管理员清单</a></li>
			<li class="icn_new_article"><a href="/log/enterprise" target="content">企业日志</a></li>
		</ul>
		<hr/>
		<h3>熔意官网管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">基本配置</a></li>
			<li class="icn_categories"><a href="/category" target="content">栏目配置</a></li>
		</ul>
		<h3>熔意微官网管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">基本配置</a></li>
			<li class="icn_categories"><a href="/category" target="content">栏目配置</a></li>
		</ul>
		<hr/>
		<h3>促销系统管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">基本配置</a></li>
			<li class="icn_new_article"><a href="#" target="content">发布模板</a></li>
			<li class="icn_edit_article"><a href="#" target="content">投票管理</a></li>
		</ul>
		<h3>投票/问卷系统管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">基本配置</a></li>
			<li class="icn_new_article"><a href="#" target="content">发布模板</a></li>
			<li class="icn_edit_article"><a href="#" target="content">投票管理</a></li>
		</ul>
		<hr/>
		
		
		
		
		
		
		
		<!-- ENTERPRISE MENU -->
		<h3>系统管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">全局配置</a></li>
			<li class="icn_new_article"><a href="/permission" target="content">权限地图</a></li>
			<li class="icn_new_article"><a href="/system/statistic" target="content">系统状态</a></li>
			<li class="icn_new_article"><a href="/log/system" target="content">系统日志</a></li>
		</ul>
		<h3>操作员管理</h3>
		<ul class="toggle">
			<li class="icn_view_users"><a href="/enterprise/employee" target="content">管理员清单</a></li>
			<li class="icn_new_article"><a href="/log/user" target="content">操作员日志</a></li>
		</ul>
		<hr/>
		<h3>微信管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/enterprise/config" target="content">微信配置</a></li>
			<li class="icn_edit_article"><a href="/enterprise/tenpay" target="content">微信支付配置</a></li>
			<li class="icn_categories"><a href="/enterprise/menu" target="content">自定义菜单配置</a></li>
		</ul>
		<h3>订单管理</h3>
		<ul class="toggle">
			<li class="icn_categories"><a href="/enterprise/order" target="content">订单清单</a></li>
			<li class="icn_categories"><a href="/enterprise/order" target="content">订单查询</a></li>
			<li class="icn_categories"><a href="/enterprise/order" target="content">订单合并</a></li>
		</ul>
		<h3>配送管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/enterprise/config" target="content">配送配置</a></li>
			<li class="icn_categories"><a href="/fans" target="content">待配送订单</a></li>
		</ul>
		<h3>资金管理</h3>
		<ul class="toggle">
			<li class="icn_categories"><a href="/fans" target="content">资金变动清单</a></li>
		</ul>
		<h3>商城管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/enterprise/config" target="content">商城配置</a></li>
			<li class="icn_categories"><a href="/enterprise/order" target="content">商品分类</a></li>
			<li class="icn_categories"><a href="/enterprise/order" target="content">扩展分类</a></li>
			<li class="icn_categories"><a href="/enterprise/order" target="content">商品清单</a></li>
			<li class="icn_categories"><a href="/enterprise/order" target="content">商品评论</a></li>
			<li class="icn_categories"><a href="/enterprise/order" target="content">商品自动上下架</a></li>
			<li class="icn_new_article"><a href="/enterprise/order" target="content">回收站</a></li>
		</ul>
		<h3>会员/关注者管理</h3>
		<ul class="toggle">
			<li class="icn_view_users"><a href="/fans" target="content">关注者清单</a></li>
			<li class="icn_view_users"><a href="/fans" target="content">会员清单</a></li>
			<li class="icn_categories"><a href="/fans" target="content">会员充值提现</a></li>
		</ul>
		<hr/>
		<h3>促销系统管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">基本配置</a></li>
			<li class="icn_new_article"><a href="#" target="content">发布模板</a></li>
			<li class="icn_edit_article"><a href="#" target="content">投票管理</a></li>
		</ul>
		<h3>投票/问卷系统管理</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config" target="content">基本配置</a></li>
			<li class="icn_new_article"><a href="#" target="content">发布模板</a></li>
			<li class="icn_edit_article"><a href="#" target="content">投票管理</a></li>
		</ul>
		<h3>内容管理</h3>
		<ul class="toggle">
			<li class="icn_categories"><a href="/fans" target="content">栏目清单</a></li>
			<li class="icn_categories"><a href="/fans" target="content">文章清单</a></li>
		</ul>
		<h3>图片/媒体/素材管理</h3>
		<ul class="toggle">
			<li class="icn_categories"><a href="/fans" target="content">素材清单</a></li>
			<li class="icn_video"><a href="/fans" target="content">上传素材</a></li>
		</ul>
		<h3>广告与幻灯管理</h3>
		<ul class="toggle">
			<li class="icn_categories"><a href="/fans" target="content">广告位置清单</a></li>
			<li class="icn_categories"><a href="/fans" target="content">广告清单</a></li>
		</ul>
		<h3>模板/版式管理</h3>
		<ul class="toggle">
			<li class="icn_categories"><a href="/fans" target="content">选择模板</a></li>
			<li class="icn_categories"><a href="/fans" target="content">更新模板</a></li>
		</ul>
		
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2011 FlickerFusion</strong></p>
			<p>Theme by <a href="http://www.medialoot.com" target="_blank">MediaLoot</a></p>
			<p>&nbsp;</p>
		</footer>
	</aside><!-- end of sidebar -->
</body>
</html>