@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 微软雅黑,verdana,tahoma,宋体;
	background-color: #f0c320;
}
.body-bg-color-gray {
	background-color: #e6e5e5;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	display: block;
}
.color999999 {
	color: #999999;
}
.color-bg-white {
	background-color: #ffffff;
}
.text-align-center {
	text-align: center;
}
.padding-top-10 {
	padding-top: 10px;
}
.width-315 {
	width: 315px;
}
.width-520 {
	width: 520px;
}
.width-640 {
	width: 640px;
}
.width-660 {
	width: 660px;
}
.width-670 {
	width: 670px;
}
.width-140 {
	width: 140px;
}
.width-340 {
	width: 340px;
}
.width-500 {
	width: 500px;
}
.height-12 {
	height: 12px;
}
.height-60 {
	height: 60px;
}
.height-160 {
	height: 160px;
}
.height-170 {
	height: 170px;
}
.height-270 {
	height: 270px;
}
.height-400 {
	height: 400px;
}
.height-359 {
	height: 359px;
}
.space-15 {
	width: 1000px;
	height: 15px;
	margin: 0 auto;
	border: 0;
	padding: 0;
}
.rt-v-line {
	border-right: 1px solid silver;
}
.top {
	font-size: 12px;
	text-align: center;
	line-height: 100px;
}
/***********************************/
.q {
	width: 120px;
	font-size: 12px;
	color: #ffffff;
	line-height: 90px;
}
.q input {
	font-size: 12px;
	width: 80px;
	border: 0;
	padding: 0;
	margin: 0 4px;
}
/***********************************/
.exp1 {
	list-style: none;
	margin: 0;
	padding: 0 0 0 35px;
}
.exp1 li {
	float: left;
	width: auto;
	height: 60px;
	line-height: 70px;
	text-align: center;
	margin-right: 45px;
	white-space:nowrap;
}
.exp1 li a {
	color: #ffffff;
	text-decoration: none;
}
.exp1 li a:hover {
	text-decoration: underline;
}
.exp1 li a.it-link {
	color: #182d78;
	text-decoration: none;
}
.exp1 li a.it-link:hover {
	text-decoration: underline;
}
/***********************************/
.exp2 {
	list-style: none;
	margin: 0 0 0 -10px;
	padding: 0 0 0 10px;
}
.exp2 li {
	float: left;
	width: auto;
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding:0 30px;
	white-space:nowrap;
	background-image: url(/public/images/bar.jpg);
	background-repeat: no-repeat;
	background-position: -5px center;
}
.exp2 li.it {
	padding:0 20px;
}
.exp2 li.first {
	background-image: none;
}
.exp2 li a {
	font-size: 18px;
	color: gray;
	text-decoration: none;
}
.exp2 li a:hover {
	text-decoration: underline;
}
/***********************************/
.exp3 {
	list-style: none;
	height: 30px;
	margin: 0 auto;
	padding: 10px 0 10px 50px;
	background-color: #ffffff;
}
.exp3 li {
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin:0 25px;
	white-space:nowrap;
}
.exp3 li a {
	font-size: 14px;
	color: gray;
	text-decoration: none;
}
.exp3 li a:hover {
	text-decoration: underline;
}
.exp3-copy {
	position: relative;
	left: 0;
	top: 0;
	list-style: none;
	height: 30px;
	margin: 0 auto;
	padding: 10px 0 10px 50px;
	background-color: #ffffff;
}
/***********************************/
.exp4 {
	list-style: none;
	height: 30px;
	margin: 15px auto 0 auto;
	padding: 10px;
}
.exp4 li {
	float: left;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin:0 10px;
	white-space:nowrap;
}
.exp4 li a {
	font-size: 14px;
	color: gray;
	text-decoration: none;
}
.exp4 li a:hover {
	text-decoration: underline;
}
/***********************************/
#masonry {
	width: 920px;
	height: auto;
	min-heihgt: 200px;
	margin: 0 auto;
	padding: 0;
	display: block;
}
.box {
	margin-bottom: 10px;
	float: left;
	width: 278px;
	border: 0;
	padding: 10px;
	border: 1px solid #efefef;
}
.box img {
	max-width: 100%;
}
.box h1 {
	font-size: 16px;
	margin: 5px auto 10px auto;
	line-height: 22px;
	padding-bottom: 5px;
	border-bottom: 1px solid #efefef;
}
.box h1 a {
	color: #999999;
	font-size: 16px;
	text-decoration: none;
}
.box h1 a:hover {
	text-decoration: underline;
}
.box h3 {
	color: #999999;
	font-size: 12px;
	font-weight: normal;
	margin: -3px auto 10px auto;
}
.box p {
	color: #999999;
}
.box .detail{
	border-top: 1px solid #efefef;
	padding: 5px;
}
.box .detail span{
	color: #999999;
	float: left;
	width: 200px;
}
.box .detail a{
	color: #999999;
	float: right;
	width: 60px;
	text-align: right;
	text-decoration: none;
}
/***********************************/
.tips {
	font-weight: bold;
	width: 920px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	border-left: 0;
	border-right: 0;
	padding: 12px 10px;
	margin: 0 auto 20px auto;
	display: block;
	color: #999999;
}
.tips2 {
	font-weight: bold;
	width: 740px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	border-left: 0;
	border-right: 0;
	padding: 6px 0;
	margin: 20px auto 20px auto;
	display: block;
	color: #999999;
}

.bottom-logo {
	margin-top: 30px;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	float: nont;
	cleat: both;
	font-size: 1px;
	width: 1000px;
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.split-01 {
	height: 1px;
	border: 0;
	border-bottom: 1px solid silver;
}
.header-01 {
	font-size: 24px;
	margin: 0;
	padding: 0;
}

.cts {
	padding: 0 10px 0 10px;
	margin: 0 auto;	
}
.cts b {
	color: #003399;
}
.cts1 {
	color: #999999;
	padding: 0 10px 0 0;
	margin: 20px auto 5px auto;	
	border-top: 1px solid silver;
}
.cts1 p {
	line-height: 2em;
}
.cts1_h3 {
	font-size: 1.2em;
	color: #999999;
	padding: 15px 0 10px 0;
}
.flag-head {
	font-size: 16px;
	line-height: 22px;
	padding: 6px;
	background-color: #ffe500;
}
.sub-list {
	margin: 0;
	padding: 0 0 0 20px;
}
.sub-list li {
	width: 100%;
	height: auto;
	line-height: 20px;
}
.tri {
	background-image: url(/public/images/tri.jpg);
	background-repeat: no-repeat;
	background-position: 140px center;
}
.tri1 {
	background-image: url(/public/images/tri.jpg);
	background-repeat: no-repeat;
	background-position: 370px center;
}
.tri2 {
	background-image: url(/public/images/tri.jpg);
	background-repeat: no-repeat;
	background-position: 500px center;
}
.tri3 {
	background-image: url(/public/images/tri.jpg);
	background-repeat: no-repeat;
	background-position: 624px center;
}
.tri4 {
	background-image: url(/public/images/tri1.jpg);
	background-repeat: no-repeat;
	background-position: 748px center;
}
.tri5 {
	background-image: url(/public/images/tri.jpg);
	background-repeat: no-repeat;
	background-position: 880px center;
}
.tri-it1 {
	background-image: url(/public/images/tri1.jpg);
	background-repeat: no-repeat;
	background-position: 420px center;
}
.tri-it2 {
	background-image: url(/public/images/tri1.jpg);
	background-repeat: no-repeat;
	background-position: 620px center;
}
.tri-it3 {
	background-image: url(/public/images/tri1.jpg);
	background-repeat: no-repeat;
	background-position: 775px center;
}
.tri-it4 {
	background-image: url(/public/images/tri1.jpg);
	background-repeat: no-repeat;
	background-position: 905px center;
}
#pagetitle {
	border-bottom: 1px solid #ffffff;
}
#float-wechat {
	position: absolute;
	left: 0;
	top: 0;
	width: 128px;
	height: 128px;
	padding: 0;
	border: 0;
	display: none;
	z-index: 20;
}

.p_t1 {
	font-size: 1.8em;
	color: #999999;
}
.p_t1 a {
	color: #999999;
	text-decoration: none;
}
.p_t2 {
	font-size: 1.2em;
	color: #999999;
	padding: 2px 2px 10px 2px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999999;
}
.p_t2 a {
	color: #999999;
	text-decoration: none;
}
.p_t3 {
	font-size: 1.2em;
	color: #999999;
	padding: 5px 20px 10px 0;
}

.it-big-text {
	font-size: 22px;
	font-family: "simhei","微软雅黑";
	color: #888889;
}
.it-icon-title {
	line-height: 30px;
	font-size: 28px;
	font-family: "simhei","微软雅黑";
	color: #888889;
}
.it-icon-summary {
	line-height: 26px;
	font-size: 16px;
	font-family: "simhei","微软雅黑";
	color: #b9b5b4;
	font-weight: normal;
}