<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>品牌建设 - {$WEB_EXT_CFG.STRING_SITE_TITLE}</title>
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="/public/style/main.css" />
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function () {
	var imgpos = $('img[rel="sliders"]:first').position();
	$('#float-wechat').css({
		'left': imgpos.left+885,
		'top': imgpos.top+55
	}).fadeIn();
	$(window).resize(function () {
		$('#float-wechat').css({
			'left': imgpos.left+885,
			'top': imgpos.top+55
		}).fadeIn();
	});
});
</script>
</head>
<body>
<include file="Public:exp"/>
<div class="wrap height-12 tri2"></div>
<div class="wrap height-170"><a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img rel="sliders" src="/public/images/slider1.jpg" border="0" width="1000" height="170" /></a></div>
<div class="wrap color-bg-white">
	<div class="wrap height-12"></div>
	<table width="940" align="center" border="0">
	<tr>
		<td>
		<div class="cts">
<p>品牌形象设计的价值在于将品牌核心价值通过视觉及视觉带来的综合体验来进行直观表达，是品牌战略的核心组成部分之一。熔意品牌形象设计，致力于通过战略匹配、原创表达、综合应用的方法，来达到以视觉解读品牌信仰、传播品牌价值、增强品牌沟通的目的。</p>
<p>基于此，我们将品牌形象的设计分为VI（品牌识别系统）、SI（终端识别系统）、UI（用户界面互动系统）三大系统。</p>

<h2 class="flag-head">VI系统的建设</h2>


<p>VI系统是品牌视觉的静态符号。我们认为，VI系统的功能不仅要做到吸引目标消费群的注意并产生记忆，更要获得企业员工及消费者的认同，从而提升品牌忠诚度。</p>

<h2 class="flag-head">SI系统建设</h2>

<p>熔意品牌营销机构倡导“大终端”的SI设计理念，我们认为SI系统除了终端的形象设计、陈列系统设计，还包括店员行为识别系统及终端宣传规范系统。SI系统的建设不仅要基于品牌战略打造终端视觉形象，也要根据品牌定位来规范店员的行为及宣传方式，使顾客在终端店面的“所见、所听、所感”美学化、规范化、统一化，从而加深品牌印象，凸显品牌价值。</p>

<h2 class="flag-head">UI系统建设</h2>
<p>在信息技术高度发达的今天，品牌通过网络与客户进行互动的频率越来越高，无论是在PC（家用电脑）端还是在移动手机端，都涌现了大量的创新的互动渠道和模式，这就要求品牌也时刻不停地更新自己与客户在网络上互动的方式，因此我们认为，将传统的以网页设计为主的UI从VI中剥离出来，重新审视我们的用户界面和互动系统，显得尤为必要。</p>
<p>一套好的UI，不仅要让用户使用舒适、界面美观，更要将使用过程变为客户品牌体验的过程。同时，随着智能手机的普及及微信、APP等创新系统的应用，品牌的UI又须随着潮流的变化而不断推陈出新。</p>

		</div>
		</td>
	</tr>
	</table>
	<div class="tips">{$WEB_EXT_CFG.STRING_FLAG2}</div>
	<div class="clear">&nbsp;</div>
</div>
<include file="Public:bottom"/>
</body>
</html>