<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>品牌孵化X - {$WEB_EXT_CFG.STRING_SITE_TITLE}</title>
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="/public/style/main.css" />
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function () {
	var imgpos = $('img[rel="sliders"]:first').position();
	$('#float-wechat').css({
		'left': imgpos.left+885,
		'top': imgpos.top+55
	}).fadeIn();
	$(window).resize(function () {
		$('#float-wechat').css({
			'left': imgpos.left+885,
			'top': imgpos.top+55
		}).fadeIn();
	});
});
</script>
</head>
<body>
<include file="Public:exp"/>
<div class="wrap height-12 tri5"></div>
<div class="wrap height-170"><a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img rel="sliders" src="/public/images/slider1.jpg" border="0" width="1000" height="170" /></a></div>
<div class="wrap color-bg-white">
	<div class="wrap height-12"></div>
	<table width="940" align="center" border="0">
	<tr>
		<td>
		<div class="cts">
<p>全方位助力品牌</p>
<p>从破壳而出到成为大鳄！</p>
<p>从品牌定位、品牌建设、品牌传播、市场战略规划、渠道建设、营销落地到品牌融资，全程扶持，助力品牌从孵化开始，到成为行业大鳄！</p>
<p>如果你有好的项目，却缺乏推广团队、资金、行业经验甚至你只有一个你认为很有商业前景的想法，请即刻联系我们！</p>
		</div>
		</td>
	</tr>
	</table>
	<div class="tips">{$WEB_EXT_CFG.STRING_FLAG2}</div>
	<div class="clear">&nbsp;</div>
</div>
<include file="Public:bottom"/>
</body>
</html>