<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="baidu-site-verification" content="JTBEngVJ8I" />
<title>{$WEB_EXT_CFG.STRING_SITE_TITLE}</title>
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="/public/style/main.css" />
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function () {
	var $container = $('#masonry');
	$container.imagesLoaded(function(){
		$container.masonry({
			itemSelector : '.box',
			gutterWidth  : 10,
			isAnimated   : true
		});
	});
	var imgpos = $('img[rel="sliders"]:first').position();
	$('#float-wechat').css({
		'left': imgpos.left+885,
		'top': imgpos.top+155
	}).fadeIn();
	$(window).resize(function () {
		$('#float-wechat').css({
			'left': imgpos.left+885,
			'top': imgpos.top+155
		}).fadeIn();
	});
});
</script>
</head>
<body>
<include file="Public:exp"/>
<div class="wrap height-12 tri"></div>
<div class="wrap height-270"><a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img rel="sliders" src="/public/images/slider1.jpg" border="0" width="1000" height="270" /></a></div>
<div class="wrap color-bg-white">
	<ul class="exp3">
	<li><a href="/multimarketing" title="整合营销">金融行业</a></li>
	<li><a href="/multimarketing" title="食品餐饮">食品餐饮</a></li>
	<li><a href="/multimarketing" title="家居建材">家居建材</a></li>
	<li><a href="/multimarketing" title="时尚服饰">时尚服饰</a></li>
	<li><a href="/multimarketing" title="城市形象">城市形象</a></li>
	<li><a href="/multimarketing" title="机械制造">机械制造</a></li>
	<li><a href="/multimarketing" title="工业材料">工业材料</a></li>
	<li><a href="/multimarketing" title="建筑行业">建筑行业</a></li>
	</ul>
	<div class="clear">&nbsp;</div>
	<div id="masonry">
		<volist name="projects" id="item">
		<div class="box">
			<h1><a href="/project?id={$item.id}">{$item.title}</a></h1>
			<if condition="$item.title2 neq ''"><h3>{$item.title2}</h3></if>
			<div><a href="/project?id={$item.id}"><img src="/public/{$item.img}" border="0" /></a></div>
			<if condition="$item.summary neq ''">{$item.summary}<else/>&nbsp;</if>
			<div class="detail"><span>进入阅读</span><a href="/project?id={$item.id}">&gt;</a></div>
		</div>
		</volist>
	</div>
	<div class="tips">{$WEB_EXT_CFG.STRING_FLAG2}</div>
	<div class="clear">&nbsp;</div>
</div>
<include file="Public:bottom"/>
</body>
</html>