<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>整合营销 - {$WEB_EXT_CFG.STRING_SITE_TITLE}</title>
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="/public/style/main.css" />
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function () {
	var imgpos = $('img[rel="sliders"]:first').position();
	$('#float-wechat').css({
		'left': imgpos.left+885,
		'top': imgpos.top+55
	}).fadeIn();
	$(window).resize(function () {
		$('#float-wechat').css({
			'left': imgpos.left+885,
			'top': imgpos.top+55
		}).fadeIn();
	});
});
</script>
</head>
<body>
<include file="Public:exp"/>
<div class="wrap height-12 tri1"></div>
<div class="wrap height-170"><a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img rel="sliders" src="/public/images/slider1.jpg" border="0" width="1000" height="170" /></a></div>
<div class="wrap color-bg-white">
	<div class="wrap height-12"></div>
	<table width="940" align="center" border="0">
	<tr>
		<td>
		<div class="cts">
<p>这是一个需要整合的时代！</p>
<p>整合，不是盘点，而是聚力！</p>
<h2 class="flag-head">品牌整合</h2>

<p>基于品牌进化论，我们认为任何品牌都处于一个特定的市场生态中，而不是独立存在的。因此，品牌的运营除了考虑品牌自身的因素外，还应考虑市场环境、竞争对手、消费者、合作伙伴及潜在风险等多重因素，通过系统科学地分析，在最大限度内避开不利因素，综合利用有利因素，这就是品牌整合的过程。</p>
<p>品牌整合的目的是通过客观地分析品牌所处的市场生态，结合自身的独特“基因”及竞争对手的特点，来明确品牌定位，并通过对资源的综合利用达到传播效率最大化，最终在消费者心中形成基于品牌定位的品牌信仰。</p>
<p>何谓品牌信仰？</p>
<p>我们见识了一大堆不知名的品牌在微信、天猫上大卖特卖，也见识了一些我们难以认同的选秀歌手演唱会场场爆满，毋庸置疑，随着越来越具个性的70后、80后甚至90后年轻一代的崛起，品牌比拼知名度的时代已经过去，取而代之的是品牌精神的认同度的比拼，我们把这种集体认同的品牌精神称为品牌信仰。</p>
<p>所以我们认为，品牌整合的终极目标是在品牌的目标受众群中树立坚实的品牌信仰，而品牌信仰的建立，需要一套完整的品牌体验来支撑。</p>
<p>如何紧紧环绕品牌信仰来设计品牌体验？</p>

<p>图一：视觉体验、服务体验、产品体验、文化体验</p>
<p><img src="/public/images/m1.png" border="0" /></p>

<p>视觉体验</p>
<p>视觉体验是品牌信仰的直观表达，包含多种形式，狭义上我们把视觉统统归为VI，但事实上视觉体验是一个系统工程，除了常规的视觉识别系统，还包括品牌广告、产品形象、终端感官等多种形式。</p>
<p>视觉体验在很大程度上代表了品牌形象，其重要性不言而喻。但视觉体验不是一味地博取眼球，很多所谓的“营销大师”喜欢“出奇制胜”，往往追求一些只博眼球、不求表达的设计策划，结果往往适得其反。我们见过无数有意思的广告，却在会心一笑间记不起投放这个广告的是哪个品牌，也见过无数恶俗的广告，虽然颇觉无聊，却只看一眼就知道宣传的是哪个品牌。</p>
<p>当然，高雅也好，恶俗也罢，视觉体验的设计没有对错，关键还是得看是否符合品牌信仰。超市里的大妈信仰“物美价廉”，而会所里的“土豪们”则信仰“有面子有身份”，因而即便是同个厂家的产品，在这两个场所的视觉体验必然是不同的。</p>
<p>所以，视觉体验应忠诚于品牌信仰，并基于目标消费者的偏好，同时还要兼顾行业特性、品类特点。我们应把视觉体验提升到战略高度，那种不顾品牌战略而一味盲目地求新奇、求创意，只会适得其反。</p>

<p>服务体验</p>
<p>我们认为，品牌所有与客户构成互动的行为都是服务体验的组成部分，所以服务体验贯穿于品牌的售前、售中和售后。塑造良好的、差异化的服务体验，不能只依靠一两个“点子”，而是首先应该基于品牌信仰规划一条服务输出的“隐形主线”，然后在“主线”的几个关键点上，设定独到的具体表达，通过以“线”串“点”的方式，才能营造一个自然而完整的服务体验。</p> 
<p>比如近两年在网上异军突起的坚果品牌“三只松鼠”，其品牌信仰是一种轻松、自然、愉悦的生活方式。基于这种信仰，贯穿其服务的“主线”是所有与客户的沟通环节（客户咨询、发货提醒、意外情况解释、售后回访等）都以一只松鼠的口吻自居，将又萌又幽默的品牌个性发挥到了极致，开口“主人”、闭口“小贱”，极符合年轻人尤其是女性消费者的喜好，而这部分人群又是网上坚果的主力消费群。其次，在客户消费的几个关键点上，又将”轻松愉悦”通过一系列贴心的设计做了具体表达。开箱小工具帮助客户轻松打开箱子、开口器方便打开果壳、封口夹方便客户吃了一半后的保存，果壳纸袋、湿巾、花茶则是考虑了客户吃完后的场景，甚至最后还附赠各种试吃产品制造小惊喜，从收货、食用到结尾的所有“点”上无不体现“轻松愉悦”的品牌信仰。</p>

<p>产品体验</p>
<p>产品体验是品牌信仰的基础。产品有很多种，可以是实物，也可以是某种服务，甚至是某种思想，但无论哪种产品，其体验必然由两种方式组成：功能体验和心理体验。</p>
<p>功能体验：功能体验是产品体验的基础组成部分，一般指产品本身给消费者带来的直接利益。比如热水壶厂家输出的功能体验是烧水，这种体验的好坏，则要看烧水时间的长短、产生噪音的大小、烧水时是否安全等因素。如果是输出服务的公司，比如按摩会所，那么体验的好坏就跟服务员的手法、服务的时间长短等因素相关了。</p>
<p>心理体验：心理体验是产品体验的延伸。心理体验先于产品体验，产品的包装、陈列、标牌、说明书、出现的渠道、营业员的讲解、接待细节等等，都会对消费者心理体验产生影响。</p>
<p>心理体验的重要性在于，它决定了消费者最终的购买决策。以“心理体验”为主导的消费，最典型的是奢侈品消费，这点无需赘言。不过，即便是菜市场的大妈在挑选菜品时，也会综合比较菜的“卖相”、价格、摊主的说辞甚至摊主和自己的熟悉程度，通过一系列的“听”、“说”、“问”、“看”，形成“物美价廉”的心理体验，最终才下购买决策。所以心理体验对消费决策的决定性影响，存在于任何行业中。</p>
<p>所以，如何提高成交率？我们通常只强调要做足产品的“差异化”，但事实上，基于产品本身特性展开的“心理体验”攻势，才是提升成交的关键。这就要求我们洞悉目标消费群的消费心理，并在包装、广告、终端三大领域做足功课。</p>


<p>文化体验</p>
<p>品牌的文化体验是基于品牌信仰的综合表达，由品牌仪式、品牌广告、品牌互动三部分组成。</p>
<p>品牌仪式：如通宗教需要仪式来表达信仰，品牌同样需要仪式来加强体验。“喝前摇一摇”是一种品牌仪式，“扭一扭、泡一泡”也是一种品牌仪式，甚至苹果公司将“滑动屏幕”也打造成了其标志性的品牌仪式。不一定所有品牌都必须有品牌仪式，但不可否认的是，品牌仪式的导入会加深消费者对品牌的印象。</p>
<p>品牌广告：品牌广告不仅传达品牌视觉体验，也可传递品牌的文化体验。比如百事可乐和可口可乐从来不在广告里宣传产品口味，其广告传播永远以品牌文化的传递为核心。但品牌广告的策略还是应从品牌实际出发，如果一个品牌尚未众所周知，或者一款产品刚刚上市，那么品牌的广告还是应着力于把自己介绍清楚。</p>
<p>品牌互动：品牌互动包括终端互动、网络互动、事件互动。</p>
<p>终端互动是指品牌在销售端，通过活动、服务等与消费者进行的互动。服务流程的规范、销售活动的创意、店面布置的差异化等都可以提升终端互动。</p>
<p>网络互动近年来已经从PC端蔓延到了移动端，各种APP应用以及基于微信等新媒体的品牌互动推广层出不穷，是品牌不可轻视的推广阵地。</p>
<p>事件互动是指品牌与目标消费者就共同关心的热点事件进行互动，以增强品牌认同感。比如红牛公司时常赞助大型赛事，在无形中与喜欢看比赛的男性建立了情感认同。当然，中小品牌除了赛事赞助，也可以尝试考虑热点事件营销。</p>

<h2 class="flag-head">渠道整合</h2>


<p>狭义的渠道理论一般指企业不同销售通路的开拓，注重的是“拓展”的过程，而非系统运营的过程。我们认为，渠道整合是对渠道多方资源的整合应用，主要包括工厂与代理商整合、线上线下(O2O)整合、销售圈整合以及管理方式整合。</p>

<p>1\工厂与代理商整合</p>

<p>工厂与代理商的资源整合是传统渠道的主要表现形式，事实上这种渠道的参与者除了工厂与代理商，还有终端消费者。渠道的整合应以能为渠道所有参与方创造更多价值为原则，所以参与三方利益的提升缺一不可，否则要么渠道商积极性不高，要么消费者接受度太低，都不利于营销的成长。比如前几年家用净水设备行业兴起时，很多品牌都选择和家装公司进行合作。家装公司在整体设计时可以融入净水设备，这本来是一个很好的渠道拓展方式，事实证明初期消费者也确实比较欢迎。但问题在于，随着竞争越来越激烈，单个的净水设备越来越便宜，市场平均售价低至千元甚至几百左右，随着利润的大幅降低，家装公司的积极性大打折扣，而如果提升售价，消费者又宁可去市场购买，此时这个渠道就成了鸡肋。</p>
<p>所以一个品牌的渠道不是一成不变的，品牌应时刻审视自身、渠道商和终端消费者的需求变化，及时调整渠道策略。</p>
<p>除了考虑以上三方利益外，渠道的拓展还应忠于品牌信仰（定位或核心价值），并不是所有能卖货的渠道都是好渠道。我们看到昔日奢侈品定位的华伦天奴，自从开发一系列“接地气”的产品进入中低端渠道后，不仅赶跑了原本忠实的追随者，在中低端渠道“火”一阵后，也迅速归于沉寂，从此一蹶不振。</p>
<p>因此，基于渠道整合概念下的传统渠道拓展的意义在于，可以帮助企业（品牌）多维度审视渠道策略，发现更多渠道可能性，同时选择最具性价比、最具可持续性的渠道，最终将产品输送到消费者，并帮助树立品牌信仰。</p>
<p>而这正是熔意品牌营销机构所有渠道整合理念的基础。</p>

<p>2\线上线下（O2O）整合</p>
<p>狭义的O2O两大要素包括网店和实体店，而广义的O2O整合包括线下实体店、线上平台、PC端资源和移动端资源的整合。如果说线下实体店和线上网店是处于营销两端的“点”，那么PC端和移动端的资源就是两条“线”，O2O的整合正是这两点、两线的集合应用。</p>
<p>提到O2O，大多数企业最关心的是，我的网上商城如何推？</p>
<p>目前主流的推广方式一般是依托成熟的第三方平台，如淘宝、京东等，借助其巨大的流量，通过支付一定的推广费用，引流至企业网上商城，实现线上下单、线下发货（或提供服务）的模式。</p>
<p>事实上，这种方式是基于传统模式的网销，并没有真正整合好企业的庞大的线下资源，其核心是砸广告——引流量——卖产品。来自线上订单的多少高度依赖购买的第三方平台资源的多少，而线下的实体店只扮演了“仓库”的角色。</p>
<p>要做好O2O，就必须对线上线下资源做好整合。</p>
<p>首先，移动应用的崛起，带来了新型推广模式的爆发。基于微信、微博、应用APP的微电商营销，其特点是传播速度快、目标用户高度集中（好友圈基本处于同一社会阶层），产品信息、品牌体验的分享互动度高。在大电商时代，对微电商资源的开发和推广成为必不可少的一环。</p>
<p>其次，基于搜索引擎的线上推广变得越来越重要。优化关键词、百度问答/百科、主流网站的权威软文背书等一系列方式，都将成为消费者 了解品牌、信任品牌的重要方式。</p>
<p>最后，线上引流、线下反哺线上。企业应做好线平台的线下推广工作，换言之，每销售一个线下产品，便需要对顾客进行一次线上平台的宣传。例如线下优惠券的线上兑换等，养成客户线上下单的习惯。</p>


<p>3\销售圈整合</p>
<p>近几年，家居建材行业兴起了一种叫做“品牌联盟”的营销方式，其核心是集合十几个不同种类的家居品牌，进行联合促销，促销费用由各品牌平均分摊。如在某建材市场，有地板、陶瓷、厨卫、家具、装饰等多个品牌店面，因为目标消费者一致（都是需要装修的客户），且品类上不存在竞争关系（如买地板的肯定需要买陶瓷），所以这些店面的经销商便共同出资做一场基于当地的小型“品牌展销会”。这样不仅降低了推广成本，也让消费者获得了更大的实惠（一家让利1000，消费者如果采购五个品牌，就是5000），其效果自然远高于单店促销。</p>
<p>上述模式就是销售圈整合的一种。品牌进化论认为，任何品牌都不是孤立存在的，在市场生态中，有竞争者就有合作者。在激烈的市场竞争中，找到可靠的合作者共享资源、共享成果，比独自单打独斗要轻松得多。</p>
<p>销售圈整合的要素主要有以下几种。</p>
<p>1、合作对象必须要和自己有共同的消费群。没有共同消费群就没有共同目标，那么合作的基础也就不在了。</p>
<p>2、合作对象和自己不存在竞争关系。地板店和陶瓷店可以合作的关键在于，消费者买了地板依然会对陶瓷有需求。</p>
<p>3、合作各方资源共享、成本共担、成果共享。比如上述家居联盟，厨卫店可以把最近购买过厨卫的客户资料共享给销售圈内的其他成员，很明显近期购买过厨卫的客户，对地板、家具、陶瓷等产品的需求是高度存在的，这样的客户资源其精准度要比其他任何来源要高的多。</p>
<p>综上所述，企业销售圈的整合，事实上是基于共同消费者，寻找互不竞争、互享资源的合作伙伴的过程。</p>
    
<p>4\管理方式整合</p>
<p>首先要强调的是，渠道管理的终极目标并不仅仅是为了销售的提升，而是品牌（企业）的可持续发展。我们见过无数账面销售良好的公司，却在和渠道对话时处于弱势，不得不接受经销商（代理商）种种苛刻条件，最终不仅面临价格体系、营销政策无法执行，甚至还因为过度讨好经销商，给予各种信用额度甚至赊销政策，导致欠款无法回笼，面临资金链断裂的窘境。</p>
<p>造成渠道管理困难的原因很多，但本质是经销商对企业信任度的欠缺。公司加强对经销商的管理，导入科学的管理体系，不仅提高公司服务效率，也可提升经销商销售，这个道理谁都懂。关键在于，经销商不认为公司真的能导入有效管理机制，他们认为，服从公司的管理正规化运作自己旗下的代理店面，其效益没有“走偏门”、“靠经验”来得多。</p>
<p>反过来，如果经销商能从服从管理中得利，那么他们便没有理由拒绝。</p>
<p>所以渠道管理是一场博弈。渠道商（仅指一般经销商和代理商，商超KA等另案讨论）具有天然的抗拒管理的心理，而企业要健康发展、提升销量，又有必须增强渠道管控的需求。企业要在这场博弈中占据上风的唯一可能，就是使经销商看到服从管理比抗拒管理更有利可图。</p>
<p>每个行业的渠道特性不同，管理导入方法也不一而足。但有一点是肯定的，任何经销商都注重现实利益，渠道管理必须是建立在经销商得利的基础上，如果使用强硬办法，即便你的品牌再硬，也会出现“上有政策、下有对策”，甚至被经销商抛弃的结果。</p>
<p>渠道的整合管理，其意义在于整合企业在渠道上的所有资源和矛盾，从而找出渠道管理的突破点，据此以点带面、循序渐渐地导入企业渠道管理体系。</p>

<h2 class="flag-head">数据链整合</h2>
<p>——整合你企业的血脉</p>
<p>随着事业发展的轨迹，从顾客、渠道、供应商、到你潜在的合作伙伴的信息，从每一次顾客沟通结果到你每一次物流消耗的准确时间，这些看似微不足道的小数据，其实都潜藏着你生意的大未来。这其中有哪些蕴含巨大能量的资源是被你忽视的？</p>
<p>工欲善其事，必先利其器。你生意的核心引擎真的已经被启动了吗？</p>
<p>熔意数据链整合®系统，发掘潜藏在</p>
<p>生产线精准流程管理®</p>
<p>客户信息导向</p>
		</div>
		</td>
	</tr>
	</table>
	<div class="tips">{$WEB_EXT_CFG.STRING_FLAG2}</div>
	<div class="clear">&nbsp;</div>
</div>
<include file="Public:bottom"/>
</body>
</html>