<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>毛毛猪童装 - 熔意案例 - {$WEB_EXT_CFG.STRING_SITE_TITLE}</title>
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="/public/style/main.css" />
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function () {
	var imgpos = $('img[rel="sliders"]:first').position();
	$('#float-wechat').css({
		'left': imgpos.left+885,
		'top': imgpos.top+55
	}).fadeIn();
	$(window).resize(function () {
		$('#float-wechat').css({
			'left': imgpos.left+885,
			'top': imgpos.top+55
		}).fadeIn();
	});
});
</script>
</head>
<body>
<include file="Public:exp"/>
<div class="wrap height-12 tri"></div>
<div class="wrap height-170"><a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img rel="sliders" src="/public/images/slider1.jpg" border="0" width="1000" height="170" /></a></div>
<div class="wrap color-bg-white">
	<div class="wrap height-12"></div>
	<table width="940" align="center" border="0">
	<tr>
		<td>
			<div class="height-12"></div>
			<table width="100%" cellpadding="5" cellspacing="0" border="0">
			<tr>
				<td width="90%" valign="top">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top"><h1 class="p_t1">一个服装设计师对孩子的爱，但当与市场发生冲撞的时候，如何把握这个火花呢？</h1></td>
						<td width="410px" valign="top"><img src="/public/images/project/maomaozhu/maomaozhu3.jpg" width="410px" height="165px" border="0" /></td>
					</tr>
					</table>
					<div class="cts1">
					<h3 class="cts1_h3">挑战：当所有人都在模仿抄袭的时候，当大多数人追赶韩流的时候，市场对这样的产品不知道如何接纳，是不是不够流行？是不是不适合我的孩子？</h3>
					<p>案例背景：毛毛猪是一个童装品牌，与市场上大多数童装不同的是，服装设计师出身的老板本着为自己孩子设计服装的愿望，开发起了在很多人看来“非主流”的产品，不是天真可爱，不是日韩风，而是着重于服装的舒适搭配与优雅的格调。</p>
					<p>所以我们的首要任务，是要深度挖掘品牌价值，引领消费观念！</p>
					<p><b>品牌定位：气质童装第一品牌！</b></p>
					<p><b>品牌价值观：气质改变未来！ </b></p>
					<p>确定品牌定位后，我们对“毛毛猪”进行了重新改造。从原来的英文名“MaoMao Pig”改“PUSAPUSUS”,在LOGO设计上也融入了时尚设计的元素，并且以此为基础，开发多种产品辅料和宣传物料。在终端上，我们重建了其店面形象，使其更具设计感和艺术感，完全隔离了市场以Q感为主调的形象。</p>
					<p><img src="/public/images/project/maomaozhu/maomaozhu2.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu4.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu5.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu6.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu7.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu8.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu9.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu10.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu11.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu12.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu13.jpg" border="0" /></p> 
					<p><img src="/public/images/project/maomaozhu/maomaozhu14.jpg" border="0" /></p>
					</div>
				</td>
				<td width="5px">&nbsp;</td>
				<td width="155px" valign="top">
					<img src="#" width="155px" height="210px" border="0" />
					<h2 class="p_t2"><a href="#">熔意品牌研究解析</a></h2>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
	<div class="tips">{$WEB_EXT_CFG.STRING_FLAG2}</div>
	<div class="clear">&nbsp;</div>
</div>
<include file="Public:bottom"/>
</body>
</html>