<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>熔意案例 - {$WEB_EXT_CFG.STRING_SITE_TITLE}</title>
<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="/public/style/main.css" />
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function () {
	var imgpos = $('img[rel="sliders"]:first').position();
	$('#float-wechat').css({
		'left': imgpos.left+885,
		'top': imgpos.top+55
	}).fadeIn();
	$(window).resize(function () {
		$('#float-wechat').css({
			'left': imgpos.left+885,
			'top': imgpos.top+55
		}).fadeIn();
	});
});
</script>
</head>
<body>
<include file="Public:exp"/>
<div class="wrap height-12 tri"></div>
<div class="wrap height-170"><a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img rel="sliders" src="/public/images/slider1.jpg" border="0" width="1000" height="170" /></a></div>
<div class="wrap color-bg-white">
	<div class="wrap height-12"></div>
	<if condition="$id eq 1">
	<table width="940" align="center" border="0">
	<tr>
		<td>
			<table width="100%" height="160" cellpadding="10" border="0">
			<tr>
				<td valign="top"><h1 class="header-01">推动安防产业升级，颠覆对保险箱行业的定义！安防艺术大师横空出世！</h1>
				<hr class="split-01" />
				<p>我们致力于为企业打造以系统的、科学的品牌体系解决市场运作中品牌传播、连锁经营、电商运营等多维度问题的大生意平台。为客户提供全方位的品牌支持，创造即持之以恒又立竿见影的品牌正能量！</p></td>
				<td valign="top" width="420" height="160"><img src="/public/images/about-01.png" border="0" /></td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
		<div class="cts">
<p><b>为什么生意需要品牌？</b>促成一次消费，我们或许可以仅凭借我们产品的魅力，但要让顾客记住你、变成你的忠实粉丝，则必须营造全方位的品牌感染力。因为是品牌架起了卖方与买方全面沟通的桥梁，也影响着消费者对你的生意的评价，决定了他是否愿意变成你的回头客，忠实于你卖的“东西”，是否愿意变成你的说客，做你的推广员。所有生意，要想获得长远的生命力，就应该在产品开发中、在销售过程中、在服务中、在广告传播中，以统一的品牌精神为指导，合力而为，聚势而能，凝聚无可复制的品牌竞争力。因为，无品牌，不未来。</p>
<p><b>为什么品牌需要管理？</b>“品牌力”的形成是一个完整的系统，涵盖从企业运营到终端推广的诸多层面，最终汇聚成一个完整的消费者体验。这其中每一个环节都必须有高度统一的品牌执行，任何一个细节的偏失，都有可能让品牌成长之路偏离正途或陷入困境，必须辅以科学的品牌管理，才能让你的品牌持续保持健康的成长。</p>
<p><b>熔意能为您做什么？</b></p>
<p><b>熔意，是品牌孵化器！</b></p>
<p>小米、聚美优品、雕爷牛腩……近些年一些充斥着极强个性的品牌在市场中的强势突围，说明了什么？在品牌消费的大时代，一桩生意要建立自己的市场格局除了要有优秀的产品外，更要依靠势如破竹的品牌力量！有态度、有个性的品牌形象已经成为一桩新生意切入市场时的必须推动力和唯一机会！熔意品牌孵化，就是从生意的起点，为新生意提供全方位的战略策划、创意支持与落地执行，创造新品牌，创造市场的新生力量，为迅速打开市场，创造最大可能性！让您赢在起跑线！</p>
<p>小米用崭新的商业模式、用互联网思维玩出了中国成长最快手机品牌。你的产品要以怎样的个性征服市场，开辟独属于自己的黄金大道？</p>
<p><b>熔意，是品牌建筑师！</b></p>
<p>任何一个品牌的构建都是一项庞大而伟大的工程，必须渗透到企业发展、市场运营的每一个细节。只有保持形象设计、沟通策略、渠道招商、电商运营等各个维度的高度统一性，才能合力而为发挥出强大的品牌势能，这也是我们坚持的“大品牌”经营理念。我们是品牌建筑师，为您的生意提供全面、全程的品牌支持，助您步步为营！</p>
<p><b>熔意，是品牌攻坚队！</b></p>
<p>您的生意进入瓶颈期，是哪里出了问题，从哪里获得持续的发展能量？也或者，您的产品极为优秀，可品牌知名度与品牌口碑的建立却举步维艰，如何打破僵局？我们就是您的品牌攻坚队，全力发现并解决您品牌发展过程中遇到的所有问题，为您的生意提供全面而深入的诊断，并通过调整品牌策略、经营策略\导入新形象等多种手段解决问题，让您的品牌走出困境，从激烈的市场竞争中脱颖而出，重树品牌优势！</p>
<p><b>熔意，您值得信赖的品牌导师，与您一路携手创赢！</b></p>
		</div>
		</td>
	</tr>
	</table>
	</if>
	<div class="tips">{$WEB_EXT_CFG.STRING_FLAG2}</div>
	<div class="clear">&nbsp;</div>
</div>
<include file="Public:bottom"/>
</body>
</html>