<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<title>{$WEB_EXT_CFG.PAGE_TITLE} v0.1a</title>
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	// 固定浮动条 //////////////////////////////////////
	(function () {
		var el= $('#pagetitle');
		var ec= $('#page');
		var w = el.next().width();
		var c = ec.offset().top;
		el.css({'top':c, 'width':w});
		$(window).scroll(function () {
			var e = document.body.scrollTop || document.documentElement.scrollTop;
			if (e <= 0) {
				el.css({'top':c.toString()+'px'});
			} else {
				if (e <= c) {
					el.css({'top':(c-e).toString()+'px'});
				} else {
					el.css({'top':0});
				};
			};
		});
	})();
	$(window).trigger('scroll');
	
	$('#agent').val($('#_agent').val());

});
</script>
</head>
<body>
	<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<include file="Public:title"/>
			<!-- Top navigation -->
			<div id="topnav">
				<a href="#"><img class="avatar" src="/public/demo/img/user_32.png" alt="" /></a>
				登录为 <b>Admin</b>
				<span>|</span> <a href="/dashboard/settings">设置</a>
				<span>|</span> <a href="/index/signout">退出</a><br />
				<small>您有 <a href="/dashboard/message?unread" class="high"><b>1</b> 新消息!</a></small>
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<include file="Public:menu"/>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<!-- aside><b>English</b> &middot; <a href="#">Spanish</a> &middot; <a href="#">German</a></aside -->
			<!-- End of Aside links -->
		</div>
	</header>
	<!-- End of Header -->
	<!-- Page title -->
	<div id="pagetitle" style="position:fixed;z-index:20;">
		<div class="wrapper" >
			<h1>微店&nbsp;&nbsp;&bull;&nbsp;&nbsp;一键开店&nbsp;&nbsp;&bull;&nbsp;&nbsp;快速新增一个微店</h1>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper" style="margin-top:52px;">
				
				<!-- Left column/section -->
				<section class="column width6 first">

					<form id="sampleform" method="post" action="#">

						<fieldset>
							<legend>分销/代理/直营店设置</legend>

							<p>
								<label class="required" for="agent">隶属渠道:</label><br/>
								<select id="agent" class="half" name="agent">
								<option value="-1">请选择...</option>
								<volist name="agents" id="row">
									<option value="{$row.id}">{$row.enterprise}</option>
								</volist>
								</select>
								<input type="hidden" id="shop" value="0" name="shop"/>
								<input type="hidden" id="enterprise" value="0" name="enterprise"/>
								<small>仅指定隶属企业的，表示新增企业管理员</small>
								<input type="hidden" name="_agent" id="_agent" value="{$info.agent_id}" />
							</p>

							<p>
								<label class="required" for="firstname">店铺编号(自动):</label><br/>
								<input type="text" id="firstname" class="sma" value="" name="firstname" readonly="readonly" />
								<small>编号自动生成，用以区别店铺</small>
							</p>

							<p>
								<label class="required" for="firstname">代理类型:</label><br/>
								<input type="radio" id="agent_type4" class="" value="mdy" name="agent_type" checked="checked"/>
								<label class="choice" for="agent_type4">直营门店</label><br/>
								<select id="select1" class="qtr" name="select1">
									<option value="1">北京</option>
									<option value="2">上海</option>
									<option value="3">天津</option>
									<option value="4">南京</option>
									<option value="5">黑龙江</option>
								</select>
								<select id="select1" class="qtr" name="select1">
									<option value="1">北京市</option>
									<option value="2">郊县</option>
								</select>
								<select id="select1" class="qtr" name="select1">
									<option value="1">东城</option>
									<option value="2">西城</option>
								</select><br/>
								<input type="radio" id="agent_type3" class="" value="mdy" name="agent_type"/>
								<label class="choice" for="agent_type3">地市级代理</label><br/>
								<select id="select1" class="qtr" name="select1">
									<option value="1">北京</option>
									<option value="2">上海</option>
									<option value="3">天津</option>
									<option value="4">南京</option>
									<option value="5">黑龙江</option>
								</select>
								<select id="select1" class="qtr" name="select1">
									<option value="1">北京市</option>
									<option value="2">郊县</option>
								</select><br/>
								<input type="radio" id="agent_type2" class="" value="mdy" name="agent_type"/>
								<label class="choice" for="agent_type2">省级代理</label><br/>
								<select id="select1" class="qtr" name="select1">
									<option value="1">北京</option>
									<option value="2">上海</option>
									<option value="3">天津</option>
									<option value="4">南京</option>
									<option value="5">黑龙江</option>
								</select><br/>
								<input type="radio" id="agent_type1" class="" value="dmy" name="agent_type"/>
								<label class="choice" for="agent_type1">跨省代理</label><br/>
								<select id="select1" multiple="multiple" size="10" class="qtr" name="select1">
									<option value="1" selected="selected">北京</option>
									<option value="2">上海</option>
									<option value="3">天津</option>
									<option value="4">南京</option>
									<option value="5">黑龙江</option>
								</select>
							</p>
							
							<p>
								<label class="required" for="lastname">企业全称:</label><br/>
								<input type="text" id="lastname" class="half" value="" name="lastname"/>
							</p>
							
							<p>
								<label class="required" for="lastname">详细地址:</label><br/>
								<select id="select1" class="qtr" name="select1">
									<option value="1">北京</option>
									<option value="2">上海</option>
									<option value="3">天津</option>
									<option value="4">南京</option>
									<option value="5">黑龙江</option>
								</select>
								<select id="select1" class="qtr" name="select1">
									<option value="1">北京市</option>
									<option value="2">郊县</option>
								</select><br/>
								<input type="text" id="lastname" class="half" value="" name="lastname"/>
							</p>
							
							<p>
								<label class="required" for="lastname">邮政编码:</label><br/>
								<input type="text" id="lastname" class="qtr" value="" name="lastname"/>
							</p>

							<p>
								<label class="required" for="email">电话(请填写区号):</label><br/>
								<input type="text" id="email" class="half" value="" name="email"/>
							</p>

							<p>
								<label class="required" for="email">传真(请填写区号):</label><br/>
								<input type="text" id="email" class="half" value="" name="email"/>
							</p>

							<p>
								<label class="required" for="email">手机:</label><br/>
								<input type="text" id="email" class="half" value="" name="email"/>
							</p>

							<p>
								<label class="required" for="email">备注:</label><br/>
								<textarea id="area3" class="half" name="area3" rows="6"></textarea>
							</p>
							
							<p>
								<input type="checkbox" id="terms" class="" value="1" name="terms"/>
								<label class="choice" for="terms">已有实体店</label>
							</p>
							
							<p>
								<input type="checkbox" id="terms" class="" value="1" name="terms"/>
								<label class="choice" for="terms">兼营其他品类</label>
							</p>
							
							<p class="box"><input type="submit" class="btn btn-green big" value="保存设置"/> &nbsp; <input type="reset" class="btn" value="重置"/></p>

						</fieldset>

					</form>
				
					<div class="clear">&nbsp;</div>
				
				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2">
					<div id="rightmenu">
						<header>
							<h3>账户信息</h3>
						</header>
						<dl class="first">
							<dt><img width="16" height="16" alt="" src="/public/demo/img/key.png"></dt>
							<dd><a href="#">企业账户 (admin)</a></dd>
							<dd class="last">30d体验版.</dd>
							
							<dt><img width="16" height="16" alt="" src="/public/demo/img/help.png"></dt>
							<dd><a href="#">技术支持</a></dd>
							<dd class="last">相关技术支持请查看 http://doc.f-fusion.com</dd>
						</dl>
					</div>
				</aside>
				<!-- End of Right column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	
	<!-- Page footer -->
	<include file="Public:footer"/>
	<!-- End of Page footer -->
	
	<!-- Animated footer -->
	<include file="Public:footer-float"/>
	<!-- End of Animated footer -->
	
	<!-- Scroll to top link -->
	<include file="Public:go"/>

</body>
</html>