<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<title>{$WEB_EXT_CFG.PAGE_TITLE} v0.1a</title>
<include file="Public:scripts"/>
<script type="text/javascript">
$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	/* progress bar animations - setting initial values */
	Administry.progress("#progress1", 32581, 57230);
	Administry.progress("#progress2", 15910, 57230);
	Administry.progress("#progress3", 11080, 57230);

	/* flot graphs */
	var sales = [{
		label: '支付',
		data: [[1, 100],[2,200],[3,300],[4,350],[5,550],[6,810],[7,900],[8,0],[9,0],[10,0],[11,0],[12,0]]
	},{
		label: '充值',
		data: [[1, 50],[2,90],[3,45],[4,32],[5,100],[6,422.10],[7,200],[8,101],[9,90],[10,40],[11,50],[12,60]]
	}
	];

	var plot = $.plot($("#placeholder"), sales, {
		bars: { show: true, lineWidth: 1 },
		legend: { position: "nw" },
		xaxis: { ticks: [[1, "一月"], [2, "二月"], [3, "三月"], [4, "四月"], [5, "五月"], [6, "六月"], [7, "七月"], [8, "八月"], [9, "九月"], [10, "十月"], [11, "十一月"], [12, "十二月"]] },
		yaxis: { min: 0, max: 1000 },
		grid: { color: "#666" },
		colors: ["#0a0", "#f00"]
    });


});
</script>
</head>
<body>
	<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<include file="Public:title"/>
			<!-- Top navigation -->
			<div id="topnav">
				<a href="#"><img class="avatar" src="/public/skin/img/user_32.png" alt="" /></a>
				登录为 <b>{$session_enterprise_name}</b>
				<span>|</span> <a href="/dashboard/settings">设置</a>
				<span>|</span> <a href="/index/signout">退出</a><br />
				<small>您有 <a href="/dashboard/message?unread" class="high"><b>1</b> 新消息!</a></small>
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<include file="Public:menu"/>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<!-- aside><b>English</b> &middot; <a href="#">Spanish</a> &middot; <a href="#">German</a></aside -->
			<!-- End of Aside links -->
		</div>
	</header>
	<!-- End of Header -->
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1>移动分销系统&nbsp;&nbsp;&bull;&nbsp;&nbsp;基于微信的移动电商营销工具</h1>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first">
				
					<div class="colgroup leading">
						<div class="column width3 first">
							<h3>号外：最新入驻企业 <a href="#">4家</a></h3>
							<p>当前又有新的企业入驻，点击上方数字可查看企业清单。</p>
						</div>
						<div class="column width3">
							<h4>站内消息：微信支付access token字段加长</h4>
							<p>微信支付access token 字段加长到 512 字节，请修改相应的程序。</p>
						</div>
					</div>
					
					<div class="colgroup leading">
						<div class="column width3 first">
							<h4>交易信息: <a href="#">10笔</a></h4>
							<hr/>
							<table class="no-style full">
								<tbody>
									<tr>
										<th>合计</th>
										<th class="ta-right"><a href="#">10</a></th>
										<th class="ta-right">&yen; 1,322.10</th>
									</tr>
									<tr>
										<td>支付合计</td>
										<td class="ta-right"><a href="#">9</a></td>
										<td class="ta-right">&yen; 900.00</td>
									</tr>
									<tr>
										<td>充值合计</td>
										<td class="ta-right"><a href="#">1</a></td>
										<td class="ta-right">&yen; 422.10</td>
									</tr>
									<tr>
										<td>其他</td>
										<td class="ta-right">0</td>
										<td class="ta-right">&yen; 0.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="column width3">
							<h4>订单总数: <a href="#">1单</a></h4>
							<hr/>
							<table class="no-style full">
								<tbody>
									<tr>
										<th>合计</th>
										<th class="ta-right"><a href="#">1</a></th>
										<th class="ta-right">&yen; 610.00</th>
									</tr>
									<tr>
										<td>本月合计</td>
										<td class="ta-right"><a href="#">9</a></td>
										<td class="ta-right">&yen; 900.00</td>
									</tr>
									<tr>
										<td>全部企业本周</td>
										<td class="ta-right"><a href="#">5</a></td>
										<td class="ta-right">&yen; 20.00</td>
									</tr>
									<tr>
										<td>全部企业本月</td>
										<td class="ta-right"><a href="#">9</a></td>
										<td class="ta-right">&yen; 900.00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
					<div class="colgroup leading">
						<div class="column width3 first">
							<h4>会员概览</h4>
							<hr/>
							<table class="no-style full">
								<tbody>
									<tr>
										<td>活跃用户</td>
										<td class="ta-right">32581/57230</td>
										<td><div id="progress1" class="progress full progress-green"><span><b></b></span></div></td>
									</tr>
									<tr>
										<td>关注用户</td>
										<td class="ta-right">15910/57230</td>
										<td><div id="progress2" class="progress full progress-blue"><span><b></b></span></div></td>
									</tr>
									<tr>
										<td>睡眠用户</td>
										<td class="ta-right">11083/57230</td>
										<td><div id="progress3" class="progress full progress-red"><span><b></b></span></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="column width3">
							<h4>最新报告</h4>
							<hr/>
							<p><b>月度交易信息</b></p>
							<div id="placeholder" style="height:160px"></div>
						</div>
					</div>
					<div class="clear">&nbsp;</div>
				
				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2">
					<div id="rightmenu">
						<header>
							<h3>账户信息</h3>
						</header>
						<dl class="first">
							<dt><img width="16" height="16" alt="" src="/public/skin/img/key.png"></dt>
							<dd><a href="#">企业账户 (admin)</a></dd>
							<dd class="last">30d体验版.</dd>
							
							<dt><img width="16" height="16" alt="" src="/public/skin/img/help.png"></dt>
							<dd><a href="#">技术支持</a></dd>
							<dd class="last">相关技术支持请查看 http://doc.f-fusion.com</dd>
						</dl>
					</div>
					<div class="content-box">
						<header>
							<h3>近期消息</h3>
						</header>
						<section>
							<dl>
								<dt>熔意网络科技最新发布“移动营销系统”v2.0版本</dt>
								<dd><a href="#">详情</a></dd>
								<dt>针对微信SDK漏洞修复BUG-207</dt>
								<dd><a href="#">详情</a></dd>
							</dl>
						</section>
					</div>
				</aside>
				<!-- End of Right column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	
	<!-- Page footer -->
	<include file="Public:footer"/>
	<!-- End of Page footer -->
	
	<!-- Animated footer -->
	<include file="Public:footer-float"/>
	<!-- End of Animated footer -->
	
	<!-- Scroll to top link -->
	<include file="Public:go"/>

</body>
</html>