<nav id="menu">
	<ul class="sf-menu">
		<if condition="$current eq 'dashboard'"><li class="current"><else/><li></if>
		    <a href="/dashboard">系统</a>
			<ul>
				<li><a href="/dashboard/serv">云服务器</a>
					<ul>
						<li><a href="#">阿里云杭州节点</a>
							<ul>
								<li><a href="#">Server-1</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="/dashboard/db">云数据库</a>
					<ul>
						<li><a href="#">MySQL</a></li>
					</ul>
				</li>
				<li><a href="/dashboard/settings">设置...</a></li>
			</ul>
		</li>
		<if condition="$current eq 'site'"><li class="current"><else/><li></if>
			<a href="/site">微站</a>
			<ul>
				<li><a href="/site/config">一键配置</a></li>
				<li><a href="/site/map">站点地图</a></li>
				<li><a href="/site/user">微站管理员</a></li>
			</ul>
		</li>
		<if condition="$current eq 'agent'"><li class="current"><else/><li></if>
			<a href="/agent">渠道</a>
			<ul>
				<li><a href="/agent">全部渠道</a></li>
				<li><a href="/agent/user">渠道管理员</a></li>
				<li><a href="/agent/shop">分销/代理/直营店</a>
					<ul>
						<li><a href="#">跨区总代</a></li>
						<li><a href="#">分销商</a></li>
						<li><a href="#">代理商</a></li>
						<li><a href="#">直营门店</a></li>
					</ul>
				</li>
				<li><a href="/agent/lbs">LBS地理围栏</a></li>
			</ul>
		</li>
		<if condition="$current eq 'shop'"><li class="current"><else/><li></if>
			<a href="/shop">微店</a>
			<ul>
				<li><a href="/shop/quick">一键开店</a></li>
				<li><a href="/shop">全部微店</a></li>
				<li><a href="/shop/user">微店管理员</a></li>
				<li><a href="/shop/goods">商品管理</a></li>
				<li><a href="/shop/member">注册会员</a>
					<ul>
						<li><a href="#">绑定手机会员</a></li>
						<li><a href="#">会员分组</a></li>
						<li><a href="#">全部会员</a></li>
						<li><a href="#">会员信用</a></li>
					</ul>
				</li>
				<li><a href="/shop/lbs">LBS地理围栏</a></li>
				<li><a href="/shop/media">素材/模板</a>
					<ul>
						<li><a href="#">已上传素材</a></li>
						<li><a href="#">通用模板</a></li>
						<li><a href="#">行业模板</a></li>
						<li><a href="#">自定义模板</a></li>
					</ul>
				</li>
				<li><a href="/shop/qrcode">二维码管理</a></li>
				<li><a href="/shop/menu">自定义菜单</a></li>
				<li><a href="/shop/wshop">微信小店*</a></li>
			</ul>
		</li>
		<if condition="$current eq 'active'"><li class="current"><else/><li></if>
			<a href="/active">互动</a>
			<ul>
				<li><a href="/active/message">粉丝留言/回复</a></li>
				<li><a href="/active/send?history">已发送消息</a></li>
				<li><a href="/active/send">客服消息</a></li>
				<li><a href="/active/send?group">群发消息</a></li>
				<li><a href="/active/wservice">微信客服*</a></li>
			</ul>
		</li>
		<if condition="$current eq 'order' or $current eq 'card'"><li class="current"><else/><li></if>
			<a href="/order">订单</a>
			<ul>
				<li><a href="/order">订单/交易</a></li>
				<li><a href="/order/shipping">仓储/货运/快递</a></li>
				<li><a href="/order/money">款项明细</a></li>
				<li><a href="/card/score">会员卡</a></li>
				<li><a href="/card/charge">预充值</a></li>
				<li><a href="/order/feedback">维权</a></li>
			</ul>
		</li>
		<if condition="$current eq 'promotion'"><li class="current"><else/><li></if>
			<a href="/promotion">促销</a>
			<ul>
				<li><a href="/promotion/price">特价促销</a></li>
				<li><a href="/promotion/time">限时特卖</a></li>
				<li><a href="/promotion/group">团购</a></li>
				<li><a href="/promotion/moneypack">红包满天飞</a></li>
			</ul>
		</li>
		<if condition="$current eq 'game'"><li class="current"><else/><li></if>
			<a href="/game">游戏</a>
			<ul>
				<li><a href="/game/egg">砸金蛋</a></li>
				<li><a href="/game/card">刮刮乐</a></li>
				<li><a href="/game/wheel">幸运大转盘</a></li>
			</ul>
		</li>	
		<if condition="$current eq 'statistics'"><li class="current"><else/><li></if>
			<a href="/statistics">统计</a>
			<ul>
				<li><a href="/statistics/a1">销售统计图表</a></li>
				<li><a href="/statistics/a2">地区统计图表</a></li>
				<li><a href="/statistics/a3">粉丝所属地区图表</a></li>
				<li><a href="/statistics/a4">收货所属地区图表</a></li>
				<li><a href="/statistics/a5">交易转化率</a></li>
				<li><a href="/statistics/a6">重复消费率</a></li>
				<li><a href="/statistics/a7">团购统计</a></li>
			</ul>
		</li>
		<if condition="$current eq 'user'"><li class="current"><else/><li></if><a href="/user">成员</a></li>
		<if condition="$current eq 'log'"><li class="current"><else/><li></if><a href="/log">日志</a></li>
	</ul>
</nav>