<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>意见反馈 - {$WEB_PAGE_CO} {$WEB_PAGE_TITLE}</title>
<link rel="stylesheet" href="/public/image/main.css" type="text/css" media="screen" />
</head>
<body bgcolor="#FFFFFF"><a name="gotop"></a>
<table id="__01" width="1004" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <a href="/"><img id="xm_about01" src="/public/image/xm-about01.jpg" width="234" height="77" alt="{$WEB_PAGE_CO}" /></a></td>
        <td><div class="exp-about">
        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
        	<td width="113" align="center"><a href="/">首页</a></td>
        	<td width="113" align="center"><include file="Public:menu"/></td>
        	<td width="113" align="center"><a href="/service">客户服务</a></td>
        	<td width="110" align="center"><a href="/news">最新动态</a></td>
        	<td width="110" align="center"><a href="/hr">招聘信息</a></td>
        	<td width="110" align="center"><a href="/about">关于我们</a></td>
        </tr>
        </table>
        </div></td>
    </tr>
    <tr>
        <td colspan="2"><div class="exp1-about">
        <a href="/member/reg">注册</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/member/login">登录</a>
        </div></td>
    </tr>
    <tr>
        <td colspan="2">
            <img id="xm_about04" src="/public/image/xm-about04.jpg" width="1004" height="140" alt="" /></td>
    </tr>
    <tr>
        <td>
            <img id="xm_about05" src="/public/image/xm-about05.jpg" width="234" height="117" alt="" /></td>
        <td rowspan="2"><div class="news-content">
        <table id="table1" width="625" cellpadding="0" cellspacing="0" border="0">
        <tr>
        	<td class="h48">意见反馈</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
        <tr>
        	<td valign="top"><form name="feedback-form" id="feedback-form" method="post">
        		<table id="table2" width="100%" cellpadding="0" cellspacing="0" border="0">
        		<tr>
        			<th>公司名称</th>
        			<td><input type="text" name="enterprise" id="enterprise" class="text" /></td>
        		</tr>
        		<tr>
        			<th>姓名</th>
        			<td><input type="text" name="name" id="enterprise" class="text" /></td>
        		</tr>
        		<tr>
        			<th>手机</th>
        			<td><input type="text" name="mobile" id="mobile" class="text" /></td>
        		</tr>
        		<tr>
        			<th>Email</th>
        			<td><input type="text" name="email" id="email" class="text" /></td>
        		</tr>
        		<tr>
        			<th>公司电话</th>
        			<td><input type="text" name="tel" id="tel" class="text" /></td>
        		</tr>
        		<tr>
        			<th>公司传真</th>
        			<td><input type="text" name="fax" id="fax" class="text" /></td>
        		</tr>
        		<tr>
        			<th>反馈内容</th>
        			<td><textarea name="content" id="content" class="text-area" rows="10"></textarea></td>
        		</tr>
        		<tr>
        			<td>&nbsp;</td>
        			<td><input type="submit" value="提交反馈" /></td>
        		</tr>
        		</table></form>
        	</td>
        </tr>
        </table>
        </div></td>
    </tr>
    <tr>
        <td><div class="about-left">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
        	<td><a href="/feedback">▪&nbsp;意见反馈</a></td>
        </tr>
        </table>
        </div></td>
    </tr>
    <tr>
        <td colspan="2"><include file="Public:copyright"/></td>
    </tr>
</table>
</body>
</html>