<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>西闽科仪 管理系统控制台</title>
<link rel="stylesheet" href="/public/layout/css/layout.css" type="text/css" media="screen" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="/public/layout/css/ie.css" type="text/css" media="screen" />
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="/public/layout/js/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/public/layout/js/hideshow.js" type="text/javascript"></script>
<script src="/public/layout/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() { 
	$(".tablesorter").tablesorter(); 

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	$("ul.tabs li").click(function() {
		$('#id').val('');
		$('#title').val('');
		$('#content').val('');
		
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});
	
	$('a[rel]').click(function () {
		var id = $(this).attr('rel');
		$("ul.tabs li:last").trigger('click');
		$('#id').val(id);
		$('#title').val('');
		$('#content').val('');
		$.get('/member/data?id='+id.toString(), function (data) {
			$('#title').val(data['title']);
			$('#content').val(data['content']);
		}, 'json');
		return false;
	});
});
</script>
</head>
<body>
	
	<section id="secondary_bar">
		<div class="breadcrumbs_container">
			<article class="breadcrumbs">
			<a href="/frame" target="_parent">控制台</a>
			<div class="breadcrumb_divider"></div>
			<a href="#" class="current">注册用户</a>
			</article>
		</div>
	</section><!-- end of secondary bar -->
	
	<section id="main" class="column">
		
		<h4 class="alert_info none">注册用户</h4>
		
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">注册用户</h3>
		<ul class="tabs">
   			<li><a href="#tab1">清单</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th width="6%">&nbsp;</th> 
    				<th>标题</th> 
    				<th width="20%">创建时间</th> 
    				<th width="10%">操作</th> 
				</tr> 
			</thead> 
			<tbody> 
			<notempty name="list">
				<volist name="list" id="item">
				<tr> 
   					<td><input type="checkbox" value="{$item.id}"></td> 
    				<td>{$item.title}</td> 
    				<td>{$item.create_time}</td> 
    				<td><a href="###" rel="{$item.id}">修改</a>&nbsp;|&nbsp;<a href="/member/delete?id={$item.id}">删除</a></td> 
				</tr>
				</volist>
			<else/>
				<tr> 
    				<td colspan="4">没有数据</td> 
				</tr>
			</notempty>
			</tbody> 
			<tfoot>
				<tr> 
    				<td colspan="4" align="right">{$page}&nbsp;&nbsp;&nbsp;&nbsp;</td> 
				</tr>
			</tfoot>
			</table>
			</div><!-- end of #tab1 -->
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
		<div class="spacer"></div>
	</section>


</body>
</html>