<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Control Signin</title>
<include file="Public:scripts"/>
<script type="text/javascript">
function refeshCode() {
	$('#verifyImg').attr('src', '/public/verify/?t='+(new Date()).valueOf().toString());
}
</script>
</head>
<body>
<form name="signinForm" id="signinForm" method="post" action="/index/signin">
管理账号：<input type="text" name="user" id="user" /><br/>
管理密码：<input type="password" name="password" id="password" /><br/>
扰码校验：<input type="text" name="verify" id="verify" /><img id="verifyImg" src="/public/verify" border="0" style="vertical-align:middle;" onclick="refeshCode()" />&nbsp;&nbsp;<a class="aaa" href="javascript:refeshCode();">看不清，换一张</a><br/>
<input type="submit" value="SignIn" />
</form>
</body>
</html>