<div class="wrap height-12"></div>
<div class="wrap height-359 color-bg-white text-align-center padding-top-10">
	<img src="/public/images/rongyi/bottom.png" border="0" />
</div>
<div class="wrap height-12"></div>
<div class="wrap height-160 color-bg-white">
	<!-- div class="fl width-140 height-160"><img src="/public/images/brain.png" border="0" hspace="10" vspace="10" alt="{$WEB_EXT_CFG.STRING_SITE_TITLE}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}" /></div -->
	<div class="fl width-340 height-160 text-align-center"><img src="/public/images/logo.png" border="0" class="bottom-logo" alt="{$WEB_EXT_CFG.STRING_SITE_TITLE}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}" />
	<p class="color999999">{$WEB_EXT_CFG.STRING_ADDRESS}</p>
	</div>
	<div class="fl width-640 height-160">
		<ul class="exp4">
		<volist name="WEB_EXT_CFG.MENU_CATEGORY" id="ITEM">
		<li><a href="{$ITEM.URL}" title="{$ITEM.NAME}">{$ITEM.NAME}</a></li>
		</volist>
		</ul>
		<p class="color999999">{$WEB_EXT_CFG.STRING_COPYRIGHTS}</p>
	</div>
</div>
<div id="float-wechat"><img src="/public/images/qrcode_for_gh_64a31653ee09_100.jpg" border="0" /></div>
<div class="clear">&nbsp;</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff1acb5884cad742e4286680a30c9520c' type='text/javascript'%3E%3C/script%3E"));
</script>