<div class="wrap height-60">
	<div class="fl width-315 height-60 color-bg-white top">{$STRING_FLAG}</div>
	<div class="fl width-660 height-60">
		<ul class="exp1">
		<volist name="WEB_EXT_CFG.MENU_SITE" id="ITEM">
		<li><a href="{$ITEM.URL}" title="{$ITEM.NAME}">{$ITEM.NAME}</a></li>
		</volist>
		</ul>
	</div>
</div>
<div class="clear">&nbsp;</div>
<div class="wrap" style="position:relative;margin-bottom:60px;">
	<div class="wrap height-60 color-bg-white" id="pagetitle" style="position:fixed;z-index:30;">
		<div class="fl width-315 height-60 text-align-center padding-top-10">
			<a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img src="/public/images/logo.png" border="0" alt="{$WEB_EXT_CFG.STRING_SITE_TITLE}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}" /></a>
		</div>
		<div class="fl width-670 height-60">
			<ul class="exp2">
			<volist name="WEB_EXT_CFG.MENU_CATEGORY" id="ITEM">
			<li><a href="{$ITEM.URL}" title="{$ITEM.NAME}">{$ITEM.NAME}</a></li>
			</volist>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	
	// 固定浮动条 //////////////////////////////////////
	(function () {
		var el= $('#pagetitle');
		var ec= el.parent();
		var c = ec.offset().top;
		el.css({'top':c});
		$(window).scroll(function () {
			var e = document.body.scrollTop || document.documentElement.scrollTop;
			if (e <= 0) {
				el.css({'top':c.toString()+'px'});
			} else {
				if (e <= c) {
					el.css({'top':(c-e).toString()+'px'});
				} else {
					el.css({'top':0});
				};
			};
		});
	})();

});
</script>