<div class="wrap height-60">
	<div class="fl width-315 height-60 color-bg-white top">{$STRING_FLAG}</div>
	<div class="fl width-660 height-60">
		<ul class="exp1">
		<volist name="WEB_EXT_CFG.MENU_SITE" id="ITEM">
		<li><a href="{$ITEM.URL}" title="{$ITEM.NAME}">{$ITEM.NAME}</a></li>
		</volist>
		</ul>
	</div>
</div>
<div class="clear">&nbsp;</div>
<div class="wrap height-60 color-bg-white">
	<div class="fl width-315 height-60 text-align-center padding-top-10">
		<a href="{$WEB_EXT_CFG.MENU_SITE.0.URL}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}"><img src="/public/images/logo.png" border="0" alt="{$WEB_EXT_CFG.STRING_SITE_TITLE}" title="{$WEB_EXT_CFG.STRING_SITE_TITLE}" /></a>
	</div>
	<div class="fl width-670 height-60">
		<ul class="exp2">
		<volist name="WEB_EXT_CFG.MENU_CATEGORY" id="ITEM">
		<li><a href="{$ITEM.URL}" title="{$ITEM.NAME}">{$ITEM.NAME}</a></li>
		</volist>
		</ul>
	</div>
</div>