<include file="Public:html"/>
<meta charset="utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta id="viewport" name="viewport" content="width=device-width; initial-scale=0.5; maximum-scale=0.5; " />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>电商案例</title>
<style>
html, body {
	padding: 0;
	margin: 0;
	font-size: 1em;
	-webkit-text-size-adjust:none;
}
input, select {
	font-size: 1.2em;
}
.wrap {
	width: 630px;
	height: auto;
	min-height: 10px;
	margin: 0 auto;
	padding: 0;
	border: 0;
}
.mt5 {
	margin-top: 5px;
}
.wrap table {
	background-color: #f2f2f2;
}
.pt10 {
	padding-top: 10px;
}
.pt30 {
	padding-top: 30px;
}
.acenter {
	text-align: center;
}
.fs0 {
	font-size: 1em;
}
.fs-1 {
	font-size: .6em;
}
.fs1 {
	font-size: 2em;
}
.fs2 {
	font-size: 2.2em;
}
.fs3 {
	font-size: 1.8em;
}
.fs4 {
	font-size: 1.4em;
}
.fs5 {
	font-size: 2.8em;
}
.color0 {
	color: #ffffff;
}
.color1 {
	color: #000000;
}
.color2 {
	color: #00bbff;
}
.color3 {
	color: #ff9a00;
}
.color4 {
	color: #919499;
}
.wrap p {
	font-size: 1em;
	margin: 1em;
	text-indent: 2em;
	line-height: 1.6em;
}
.wrap span {
	font-size: 1em;
	line-height: 1.6em;
}
.hotline {
	float: left;
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background-image: url(/public/images/icon_phone.png);
	background-repeat: no-repeat;
	background-position: 12% center;
	background-color: #00bbff;
	cursor: pointer;
	color: #ffffff;
	font-size: 2.8em;
}
</style>
</head>
<body>
<div class="wrap mt5">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="fs2 color4">
<p>为了更好地服务于社会，就甲方委托乙方提供酒后代驾服务事项达成一致协议如下：</p>
<p>在代驾服务出发前，客户签字即确认了解本次服务收费标准及安师傅代驾有关最新政策，并依据收费标准向安师傅代驾支付服务费用。</p>
<p>甲方必须提供车况良好，有合法支配权，年检有效，有全保险的车辆（至少投保了交强险、车损险、三者险三项车险的客户）。甲方车辆必须是车长小于6米，乘坐人数小于等于9人的C1驾照准驾车辆。对军车、无牌照车辆、肇事逃逸车辆、车内有违禁品、乙方代理驾驶员可以拒绝本次代驾服务。如甲方未投保交强险、车辆损失险、第三者责任险的，乙方代理驾驶员在代驾过程中发生意外造成甲方损失，乙方不承担赔偿责任。如因违章或发生交通事故给甲方造成损失的（包括财产和人身），根据交通管理部门的事故认定责任结果，乙方仅承担被代驾车辆有责部分的赔偿，且遵循先由交强险赔偿，再由车辆商业险赔偿的原则。如果以上两方面赔偿后仍有损失余额，则由乙方赔偿。商业险标准为车辆损失险、30万元第三者责任险、每座（含驾驶员）2万元的车上人员责任险及各险种不计免赔险。如事故中非代驾车辆负主要责任，乙方不负责损失赔偿。</p>
<p>甲乙对于意识不清醒、醉酒的客户必须有清醒同伴的陪同，陪同人员在服务协议上签字方可提供服务，并具有等同于当事人一样的权利与义务，所签署的协议视为当事人本人签署，否则乙方代理驾驶员有权利拒绝本次代驾服务。</p>
<p>车辆出发前，甲方有义务配合乙方代理驾驶员了解车况及操作规程以及车辆原有破损情况。如因甲方车况不良而引发的车辆损坏，乙方不承担赔偿责任。代驾服务结束时，乙方需配合甲方检查车辆是否完好并提醒甲方带好贵重物品，服务结束同意司机离开后即确认本次服务过程中没有发生车辆损坏及物品丢失等情况。</p>
<p>甲方有责任妥善保管好车内及随身财物，以免发生不必要的法律纠纷，乙方则必须要求代理驾驶员不得接触甲方车内及随身财物。如甲方在乙方代理驾驶员提供服务过程中发现物品丢失，应马上联系乙方代驾事故处理中心4－001－002－003或拨打110由公安机关解决。</p>
<p>乙方代理驾驶员应按约定时间把甲方连人带车送到指定地点，到达指定地点后甲方确认无异议、车辆财物无任何损失后，需一次性结清乙方服务费，乙方代理驾驶员交还甲方车辆钥匙。</p>
<p>甲方不得要求乙方代理驾驶员违规驾驶，不得干扰乙方代理驾驶员驾驶，如甲方提出过分要求，乙方代理驾驶员有权拒绝服务并及时通知乙方代驾客服中心请示处理办法。</p>
<p>因不可抗拒的自然灾害（地震、海啸、洪水、山体滑坡）以及战争导致不能准时到达目的地或造成伤亡和损失的，乙方不承担任何赔偿责任。</p>
<p>乙方代理驾驶员在为甲方代理驾驶过程中，在油灯提示车辆即将无燃油的情况下，乙方代理驾驶员有义务立即告知甲方，而甲方应同意就近购买正常行驶所需燃油。如因甲方拒绝购买燃油而造成车辆熄火，乙方不承担任何责任，并视本次代驾服务已经完成。</p>
<p>如发生绕道情况时，甲方可先和乙方代理驾驶员协商解决，协商不成可现场拨打乙方代驾客服电话进行投诉，由客服中心人员确认并解决。</p>
<p>发生等待情况时，累计等待30分钟内免费，等候满30分钟，按照各城市收费标准收取相应等候费用。</p>
<p>如因本协议未尽事宜产生问题或纠纷，由甲乙双方友好协商解决。甲、乙双方签字（盖章）即生效，一式两份，双方各执一份。本协议最终解释权归上海安师傅汽车驾驶服务有限公司所有。</p>
	</td>
</tr>
<tr>
<td><a class="hotline" href="tel:13701943000">热线 137-0194-3000</a></td>
</tr>
</table>
</div>
<script type="text/javascript">
try {
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideToolbar');
		WeixinJSBridge.call('hideOptionMenu');
	});
} catch(e) {};
</script>
</body>
</html>