<include file="Public:html"/>
<meta charset="utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta id="viewport" name="viewport" content="width=device-width; initial-scale=0.5; maximum-scale=0.5; " />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CRM案例</title>
<style>
html, body {
	padding: 0;
	margin: 0;
	font-size: 1em;
	-webkit-text-size-adjust:none;
}
input, select {
	font-size: 1.2em;
}
.wrap {
	width: 630px;
	height: auto;
	min-height: 10px;
	margin: 0 auto;
	padding: 0;
	border: 0;
}
.mt5 {
	margin-top: 5px;
}
.wrap table {
	background-color: #f2f2f2;
}
.pt10 {
	padding-top: 10px;
}
.pt30 {
	padding-top: 30px;
}
.acenter {
	text-align: center;
}
.fs0 {
	font-size: 1em;
}
.fs-1 {
	font-size: .6em;
}
.fs1 {
	font-size: 2em;
}
.fs2 {
	font-size: 2.2em;
}
.fs3 {
	font-size: 1.8em;
}
.fs4 {
	font-size: 1.4em;
}
.fs5 {
	font-size: 2.8em;
}
.color0 {
	color: #ffffff;
}
.color1 {
	color: #000000;
}
.color2 {
	color: #00bbff;
}
.color3 {
	color: #ff9a00;
}
.color4 {
	color: #919499;
}
.wrap p {
	font-size: 1em;
	margin: 1em;
	text-indent: 2em;
	line-height: 1.6em;
}
.wrap span {
	font-size: 1em;
	line-height: 1.6em;
}
.hotline {
	float: left;
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background-image: url(/public/images/icon_phone.png);
	background-repeat: no-repeat;
	background-position: 12% center;
	background-color: #00bbff;
	cursor: pointer;
	color: #ffffff;
	font-size: 2.8em;
}
</style>
</head>
<body>
<div class="wrap mt5">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
	<td class="fs2 color4">
<P align=left><STRONG>概述</STRONG></P>
      <p>面对日益增长的客户群体，如何有效地管理与客户的每次交流和承诺，每个客户的特殊要求等等越来越成为企业感到非常棘手的问题。数码星辰的客户管理系统将把您从手工记录在Excel表格中所碰到的烦恼和不方便中解放出来，为您带来一个全新的客户关系管理模式。数码星辰的宇宙盾客户关系管理系统，移动CRM（Mobile Customer Relationsip Management）
数码星辰的移动CRM系统是集信息处理技术、移动通信技术、地理信息处理，信息采集技术于一身的可以在移动环境下使用的客户关系管理软件。数码星辰的移动客户关系管理系统支持智能手机、PDA、笔记本以及桌面电脑的客户关系管理业务处理，即可以用在企业内网也可以用在移动环境下通过移动运营商的网络实现3A商务办公”，即办公人员可在任何时间（Anytime）、任何地点（Anywhere）处理与业务相关的任何事情（Anything）。
</p><p>信息技术和移动通讯技术的进步和发展，给移动CRM带来巨大的变化和发展，近十年内移动CRM技术已经经历了三代的变化。以短讯为基础的第一代移动CRM技术存在着许多严重的缺陷，其中最严重的问题是实时性较差，查询请求不会立即得到回答。此外，由于短讯信息长度的限制也使得一些查询无法得到一个完整的答案。这些令用户无法忍受的严重问题也导致了一些早期使用基于短讯的移动CRM系统的部门纷纷要求升级和改造现有的系统。
      </p><p>第二代移动CRM系统采用基于WAP技术的方式，手机主要通过浏览器的方式来访问WAP网页，以实现信息的查询，部分地解决了第一代移动访问技术的问题。第二代的移动访问技术的缺陷主要表现在WAP网页访问的交互能力极差，因此极大地限制了移动CRM系统的灵活性和方便性。此外，由于WAP使用的加密认证的WTLS协议建立的安全通道必须在WAP网关上终止，形成安全隐患，所以WAP网页访问的安全问题对于安全性要求极为严格的CRM系统来说也是一个严重的问题。这些问题也使得第二代技术难以满足用户的要求。
      </p><p>新一代的移动CRM系统，也就是第三代移动CRM系统融合了3G移动技术、智能移动终端、VPN、 数据库同步、身份认证、地理信息系统、Webservice以及商业智能等多种移动通讯、信息处理和计算机网络的最新的前沿技术，以专网和无线通讯技术为依托，使得系统的安全性和交互能力有了极大的提高，为电子CRM人员提供了一种安全、快速的现代化移动执法机制。数码星辰的移动CRM软件是新一代移动CRM系统的典型的代表。它采用了先进的的自适应结构可以灵活地适应用户的数据环境，具有现场零编 程、高安全、部署快、使用方便、响应速度快的优点。该系统支持GPRS、CDMA、Edge以及所有制式的3G网络。

      </p>

                       <img src="/Images/products/客户关系管理系统 副本.jpg" width="350"  height="258" >

      <p>
数码星辰的<span lang=EN-US>DS-MPIS</span>宇宙盾移动客户关系管理平台不仅具有国内最丰富应用功能,而且具有高度智能化、部署快、高可靠性、高安全性和极大灵活性。其独创的环境自适应能力,具有世界领先水平的小于2.5秒的响应速度和支持超过5千个并发访问的卓越品质引领了移动应用软件的新的潮流，也显示了数码星辰强大的技术优势！ 
</p><p>
数码星辰的移动CRM系统既可以应用于使用桌面电脑和笔记本的政府和企业的内部网，也可以用于使用智能手机和PDA的无线网络。可以为用户提供有线、无线以及离线的多种解决方案。数码星辰的移动方案可以应用于包括GPRS、CDMA、EDGE，Wifi、3G等所有无线数字网络。
</p><p>数码星辰既可以根据您的需要为您定制全新移动CRM系统，也可以为您现有CRM软件，ERP系统、OA系统提供手机接入解决方案
</p><p>宇宙盾移动CRM系统也支持包括IPhone，Windows&nbsp;Mobile，Google&nbsp;Android，黑莓，诺基亚等几乎所有类型的智能手机终端</P>

			<img src="/Images/products/移动CRM登陆界面.jpg" width="96"  height="175" >
			<img src="/Images/products/goolgle手机模板android菜单界面.jpg" width="144"  height="175" >
			<img src="/Images/products/饼图.jpg" width="96"  height="175" >
			<img src="/Images/products/黑莓手机模板用户界面.jpg" width="116"  height="175" >
<B align=left>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone 3GS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Google Android  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Windows &nbsp;Mobile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黑莓</B>
      <p>北京数码星辰具有完全自主知识产权的<span lang=EN-US>DS-MPIS</span>无线客户关系管理系统部署快，并具有极高的可靠性、安全性和灵活性。其小于<span
      lang=EN-US>2</span>秒的响应速度和支持超过<span lang=EN-US>1</span>千个并发访问的卓越品质更显示了北京数码星辰无与伦比的技术优势<span
      lang=EN-US>,</span>为客户关系管理业务提供一个灵活方便的移动工作平台。 </p>

移动CRM系统支持客户信息查询和录入、联系人管理、意向客户管理、市场活动管理、销售机会管理、销售报价管理、签约管理、合同管理、回款管理、服务管理、投诉管理、人员定位、待办事宜、待阅事宜、电子邮件、移动审批、移动信息录入、信息及法律法规查询、组织机构管理、日程管理、考勤管理、绩效考核管理、统计分析、联系人管理、公文浏览、公文流转等丰富的移动办公功能等常用的移动办公功能。用户可以根据自己的需要方便的选择任何功能模块组合。数码星辰的移动CRM系统还可以集成手机定位技术，实现对人员考勤，货物及车辆定位等功能，详情见《<a href= Project_Dingwei.asp><u>数码星辰移动手机定位跟踪系统</u></a>》
      </p>
      <p>
数码星辰既可以根据您的需要为您定制全新无线CRM系统，也可以与您现有的数据资源或者软件系统无缝地连接，为现有的环境提供一个高安全、高可靠、高效率的移动工作平台。</p>
      <p>在网络安全威胁以日益严重的今天，移动CRM系统的安全更是一个不容忽视的重要问题。数码星辰移动客户关系管理系统采用最先进的信息处理和信息安全技术，为客户关系管理业务的处理提供了强大的网络安全解决方案。：
      </p>

      <p>网络的长期使用和维护的方便性是客户非常关心的问题。如果提供一个全新的方案替代现有的一切，客户将面对一个完全不熟悉的系统，将回给客户的使用和维护带来极大的不便。北京数码星辰的移动客户关系管理解决方案具有极大的透明性。也就是他可以无缝地与现有的移动通讯平台连接，不会改变或影响原有平台运作和维护。因此客户使用了北京数码星辰的移动CRM业务处理解决方案后，原来客户使用的环境以及维护方式均不会受到影响。而不会涉及到兼容性问题。
      </p>
      <p>北京数码星辰的CRM产品具有极为方便的，“傻瓜”式的用户界面，易学易用，极大地方便了用户的维护和使用。
      </p>
      <p>极为灵活的可扩展性：由于业务的不断变化和扩展，运营商希望有一个灵活的通讯数据平台，以便适应不断变化的客户关系管理业务处理多变的需求以及新环境、新问题的变化，北京数码星辰凭借着这多年的丰富经验，深刻理解客户的这一需求，无论产品设计还是方案的设计均周到地考虑到这一问题的重要性。由于数码星辰<span
      lang=EN-US>DS-MPIS</span>移动客户关系管理系统的透明设计理念确保用户可以很方便地对数据库以及移动通讯平台进行改造和升级。使用数码星辰的移动客户关系管理系统<span
      class=GramE>通方案</span>对于以后系统升级改造，具有极高的灵活性和<span class=GramE>可</span>扩展性。 </p>
<p>您如果对以下商务相关的方案感兴趣。请点击以下解决方案，了解详细情况：
<ul>
  <li>《<a href= /Project_Xinwen.asp><u>移动采编解决方案</u></a>》
</li><li>《<a href= /Project_CRM.asp><u>移动CRM解决方案</u></a>》
</li><li>《<a href= /Project_Jinxiaocun.asp><u>移动进销存解决方案</u></a>》
</li><li>《<a href= /Project_Dianzizhengwu.asp><u>移动电子政务解决方案</u></a>》
</li><li>《<a href= /Project_Shangwu.asp><u>移动商务解决方案</u></a>》
</li><li>《<a href= /Project_Xinwen.asp><u>移动新闻采编解决方案</u></a>》
</li><li>《<a href= /Project_SCM.asp><u>移动供应链管理（SCM）解决方案</u></a>》
</li><li>《<a href= /Project_Dianlixunjian.asp><u>移动电力巡检解决方案</u></a>》
</li><li>《<a href= /Project_Dingwei.asp><u>移动定位解决方案</u></a>》
</li><li>《<a href= /Project_Wuliu.asp><u>移动物流解决方案</u></a>》
</li><li>《<a href= /Project_Cangku.asp><u>移动仓库管理解决方案</u></a>》
</li><li>《<a href= /Project_Zichan.asp><u>移动资产管理解决方案</u></a>》
</li><li>《<a href= /Project_Xunjian.asp><u>移动巡检解决方案</u></a>》
</li><li>《<a href= /Project_Fangdichan.asp><u>移动房地产管理和销售解决方案</u></a>》等等。
</li><li>《<a href= /Project_yidong.asp><u>移动执法解决方案</u></a>》
</li>
</ul>
</P>
      <p>欲了解方案详情，请拨打我们的销售服务电话<span lang=EN-US>010-82896300</span>，<span
      lang=EN-US>82896287. </span></p>
      <p class="style3">关键词：移动CRM 手机CRM 掌上CRM 移动客户关系管理 Andoid iPhone 移动CRM系统 移动CRM软件 移动客户关系管理系统 移动客户关系管理软件 移动CRM软件 移动客户关系管理软件 移动CRM价格 移动CRM报价 移动CRM产品 掌上客户关系管理软件 移动CRM方案 移动客户关系管理方案 移动CRM解决方案 移动客户关系管理方案　移动CRM应用 移动CRM助理 手机CRM 无线CRM 无线客户关系管理  
     </p>
	</td>
</tr>
<tr>
<td><a class="hotline" href="tel:13701943000">热线 137-0194-3000</a></td>
</tr>
</table>
</div>
<script type="text/javascript">
try {
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		WeixinJSBridge.call('hideToolbar');
		WeixinJSBridge.call('hideOptionMenu');
	});
} catch(e) {};
</script>
</body>
</html>